[2016-05-05 04:30] slbmeh opened #8 "Team page has a broken merge"
Unresolved merge conflicts.

The page at `https://lbry.io/team` has a number of unresolved merge conflicts.

[2016-05-05 12:44] lyoshenka commented on #8
Thanks for letting us know. We'll get that straightened out.

[2016-05-06 18:06] lyoshenka commented on #8
all fixed

[2016-05-06 18:06] #8 closed

[2016-07-08 03:18] sonatagreen opened #18 "Unclear license"
[posts/faq/is-lbry-open-source.md](https://github.com/lbryio/lbry.io/blob/master/posts/faq/is-lbry-open-source.md) says that the website, and therefore this repository, is "open source".

However, unlike in the code repositories, no specific license seems to be specified; there's no LICENSE file in the repo, and no copyright/license statement that I've found on the website.

As a matter of open so

[2016-07-08 04:06] kauffj commented on #18
Good catch! I think MIT license is the best license (most open), but I think we'd want to amend it to be clear it does not license all of the content, just the code.

[2016-11-02 20:35] lyoshenka commented on #18
fixed

[2016-11-02 20:35] #18 closed

[2017-03-17 16:51] WayneAnderson opened #93 "Vulnerability: Lbry is authorizing an extreme github scope"
[DeveloperActions.class.php](https://github.com/lbryio/lbry.io/blob/master/controller/action/DeveloperActions.class.php)

Line 86:
` 'scope'        => 'user:email public_repo',`

Effect of the "public_repo" permissions is an extreme read-write across all of that user's projects.  This creates several security vulnerabilities, including allowing Lbry to read access tokens or other things which may

[2017-03-17 17:56] kauffj commented on #93
We would like to have the users star the repo as part of the new developer process. I do not believe it is possible to do this with a more restrictive permission.

It's unfortunate that GitHub does not appear to offer a more granular/restrictive permission, but if the choice is to ask for this permission or not be able to star the repo, we'll probably just keep this as-is.

Please re-open this if

[2017-03-17 17:56] #93 closed

[2017-03-17 18:22] JasperWallace commented on #93
What about getting the user id and then later seeing if the user has stared your repo manually?

As it stands there is no way I'm giving you write access to my repos or the orgs I'm an admin for.

I think a lot of people will look at the overly broad permissions you are asking for and just close the browser tab at that point...

[2017-03-17 18:37] kauffj commented on #93
Personally, I agree with you. I'd be hesitant to click through myself if this were another company.

But 700+ people have already done it, and only a few have objected. And for those who don't want to grant the permission can go through the alternative process of joining our Slack. And of course, you can always use LBRY directly without the reward!

Plus, it'll be additional work to change this wh

[2017-03-17 20:16] WayneAnderson commented on #93
Its your project Kauff.  As a security professional in my "day job" who is really interested in the potential of this project, I'm trying to help by pointing out the issue.

In the meantime, I couldn't possibly endorse people doing this.  Your response here is essentially "hey we know we did a bad thing here, and that it makes our users vulnerable, but really we don't care, because 700 people didn

[2017-03-18 07:45] greylurk commented on #93
I agree with @WayneAnderson  and @JasperWallace  - This overly broad permission is going to turn off a lot of developers, especially the ones with the security and privacy background that seem vital to a project like lbry.  You should seriously reconsider this, for something as minor as github stars.

[2017-03-24 15:12] ksclarke opened #96 "Include Windows locations on How to Backup Wallet FAQ entry"
This page doesn't include wallet locations on Windows machines.

https://github.com/lbryio/lbry.io/blob/master/content/faq/how-to-backup-wallet.md

[2017-03-24 21:48] lyoshenka commented on #96
Thanks, updated.

[2017-03-24 21:48] #96 closed

[2017-03-28 03:01] magichair commented on #93
Came here to find this. I was nearly entirely turned off from the project. That is asking a lot with this permission.

[2017-03-28 21:57] kauffj commented on #93
Ok, we're reconsidering this and will likely make a change. It will probably be at least a week though as we are pushing hard to hit April release.

[2017-03-29 02:47] flungo commented on #93
I am glad this is being reconsidered. You can still have developers star the project, just ask them to rather than trying to do it for them. The `/users/:username/starred` API will allow you to check that they have done so before sending them their credits.

I also hope at the moment, you are explicitly making it clear that you are going to star the repo before you do. All I can see before grantin

[2017-03-30 20:49] kauffj commented on #93
@WayneAnderson @JasperWallace @greylurk @magichair

We changed this. Thank you encouraging us to make the right choice!

[2017-03-30 21:52] WayneAnderson commented on #93
This is spectacular.  Thank you, I'm really interested in this project and appreciate the decision to find another way to balance the ability to show support with the privacy of your users!

[2017-04-20 18:18] skyl opened #101 "API link broken"
Go to: https://lbry.io/learn

Click on API (https://lbry.io/api) redirects to https://lbryio.github.io/lbry which can't be reached.

[2017-04-25 21:36] bsinglet commented on #101
It's back up now.

[2017-05-22 02:27] oktools opened #106 "Out-of-date references to free credits"
New and prospective users are currently told by the site that they can get free credits in the quickstart tutorial and at seemingly at least one place that suggests users go to the slack channel to get them, which some interpret as "go there and ask."

Apart from creating a jilting initial experience in the quickstart, where users cannot work through the steps because they have no credits, the sla

[2017-05-24 20:07] kauffj commented on #106
I decided to quietly turn this back on and reduce the reward some. We'll see how it goes.

[2017-05-24 20:07] #106 closed

[2017-05-26 22:50] AndreasGassmann opened #111 "Referral link incorrect"
I just signed up for early access and the referral link that was shown on the page was wrong.

<img width="752" alt="referral" src="https://cloud.githubusercontent.com/assets/680814/26514982/599d5706-4276-11e7-8af8-774c9d1e1299.png">

The one in the email was ok.

[2017-05-29 08:59] 7sDream opened #112 "Quickstart Credits step get an Extraneous params: access_token error"
Already loigin use Github account, then click send button, I got an error:

![](http://rikka-10066868.image.myqcloud.com/358fa47c-3860-4f6c-8d90-425e863b0dcb.png)

It's a server bug or browser bug?

[2017-05-29 13:31] AndreasGassmann commented on #112
I had the same problem and reported it a couple days ago.

<img width="512" alt="screen_shot_2017-05-26_at_23 31 22_1024" src="https://cloud.githubusercontent.com/assets/680814/26545645/ae620f38-4466-11e7-876a-97bfb919e850.png">

[2017-05-29 18:04] 7sDream opened #113 "Can't check referrals info in website"
Can't get referral info when input my register email address, instead I got an error:

[code]

Screenshot:

![image](https://cloud.githubusercontent.com/assets/7822577/26558457/81ab522c-44db-11e7-80ec-dd525bdccf01.png)

Click the the link in email (content as below, sent by jeremy[AT]lbry.io when first time join the list) get the same error.

[code]

[2017-05-29 18:24] jameshaswon commented on #113
I am also receiving this bug when clicking on the link that should be showing me my referral statistics.

[2017-05-29 22:23] Invertex commented on #112
Same issue as well. Sounds like LBRY needs to update how it's communicating with Github auth.

[2017-05-29 23:04] lyoshenka commented on #112
I believe I fixed this. Please give it another try and reopen this if its still happening.

[2017-05-29 23:04] #112 closed

[2017-05-29 23:06] #101 closed

[2017-05-30 03:40] 7sDream commented on #112
@lyoshenka

Yes, It works now, and I can get the credits.But there is still a small bug in the success message:

![image](https://cloud.githubusercontent.com/assets/7822577/26567258/63e163b6-452c-11e7-9ba4-f6e1c9974132.png)

The [undefined] word may be due to  a typo in Javascript  or something.

[2017-05-30 13:47] tzarebczan commented on #113
Thanks for reporting, we'll look into it.

[2017-05-31 08:18] CodeFalling opened #114 "Insufficient funds when trying to receive credits"
I am a new user and try to receive credits at https://lbry.io/quickstart/credits#new-developer to `bLUG5rXzBrXdCFecH9PhHLV2vXkYML9X6d`

But got a `-6: Insufficient funds` error.

![image](https://cloud.githubusercontent.com/assets/5436704/26622373/c2b393b4-461c-11e7-8068-7df75cfc62e7.png)

What should I do?

[2017-05-31 13:35] kauffj commented on #114
This should be fixed.

[2017-05-31 13:35] #114 closed

[2017-06-02 07:56] techtonik opened #115 "How to view lbry://what links exactly?"
I am running a command line daemon. What is the procedure to view and search lbry://what content for me?

[2017-06-02 13:38] kauffj commented on #115
1. `./lbrynet-cli resolve uri=lbry://what`
1. `./lbrynet-cli get uri=lbry://what`

[2017-06-02 13:38] #115 closed

[2017-06-02 13:39] kauffj commented on #115
you can also omit `lbry://`

[2017-06-03 08:00] techtonik commented on #115
What about browser?

[2017-06-03 11:21] tzarebczan commented on #115
You need to view them via the lbry app,not browser. For free and public claims, you can use https://spee.ch

[2017-06-04 06:10] techtonik commented on #115
Is it possible to create some browser plugin (Electron doesn't support Vista)?

[2017-06-04 21:06] tzarebczan commented on #115
The first incarnation of our app was browser based access. I guess it's possible to build something like it. You can also upgrade from Vista to Windows 10 for free no?

[2017-06-05 07:58] techtonik commented on #115
No.

[2017-06-06 03:47] chadfurman commented on #111
Same.

[2017-06-14 22:44] randomshinichi opened #121 "FAQ says to use lbrycrd to encrypt wallet... but only lbrynet is available to download"
How do you encrypt the wallet anyway? lbrynet-cli doesn't support encryptwallet

[2017-06-14 22:45] tzarebczan commented on #121
Password protect via zip file. The platform doesn't support encryption, it is planned for a future release.

[2017-06-15 12:30] #121 closed

[2017-06-19 17:42] lyoshenka commented on #113
I'm in the process of revamping the referral setup (which I know has been somewhat neglected recently). So it will work :soon:  :tm:

[2017-06-30 15:10] kauffj opened #135 "Add post-commit hook to clear GitHub cache on releases"

[2017-06-30 15:11] kauffj commented on #135
When pushing a new release, the download links can take up to an hour to update.

[2017-07-04 12:30] hakunin commented on #113
How soon? :)

[2017-07-04 12:40] tzarebczan commented on #113
Is a link not working for you?

[2017-07-04 12:53] hakunin commented on #113
Yep, when signing up for waitlist, I get this:
![screenshot 2017-07-04 14 22 49](https://user-images.githubusercontent.com/65846/27830844-7bfb4680-60c8-11e7-91df-adce730fc6b7.png)

[2017-07-04 13:17] hakunin commented on #113
The link you sent me via email to check my refferal status doesn't work properly either.
https://www.dropbox.com/s/g1y8fho296nxtuz/Screenshot%202017-07-04%2015.16.17.png?dl=0
It might be a good idea to start doing QA and writing automated tests..

[2017-07-04 13:31] tzarebczan commented on #113
It was working up until yesterday, we are looking into it. Thanks for the heads up.

[2017-07-04 13:36] hakunin commented on #113
Still, if you can - think about getting an automated test suite and a couple of QA people. Its worth it.

[2017-07-04 13:42] tzarebczan commented on #113
Thanks, we are looking into it :)

[2017-07-04 16:00] hakunin commented on #113
Another thing: Reddit user says the reward was reduced to 2.5 LBC while the site still says 10.
https://www.reddit.com/r/lbry/comments/6io05d/lbry_ref_got_reduced_to_25_coins/

[2017-08-01 13:39] kauffj commented on #111
We're moving this into the app.

[2017-08-01 13:39] #111 closed

[2017-08-01 13:39] kauffj commented on #113
We're moving this into the app.

You can download LBRY at lbry.io/get

[2017-08-01 13:39] #113 closed

[2017-08-12 01:20] finer9 opened #201 "Resolution scaling"
https://twitter.com/praneethpvp/status/896142765351878657

[2017-08-21 15:38] kauffj opened #211 "Evolution of backup KB articles"
1. Checkout new back-up feature in app. Assess any changes required here.
1. Determine if 1 or 2 articles needed for KB
1. Write/update both.
1. Link one or both from app.

[2017-08-22 21:32] kauffj commented on #211
@tzarebczan text revised in 6e61a9f.

We will keep backing up as two separate articles. In this case, following changes should be made to existing wallet backup article:

- Drop the references to the old wallet (put this in a separate article if we need to keep it).
- Have article reference that you can find the path in the app. If we want to keep how to find it manually, put this in separate/bott

[2017-09-02 00:42] lyoshenka opened #215 "Talk about scheduling: Allow creation of new users via lbry.io"
@kauffj commented on [Mon Jul 31 2017](https://github.com/lbryio/internal-apis/issues/39)

Pages like https://lbry.io/android prompt users to enter an email, which currently puts them directly on Mailgun, rather than in the API database.

This will require updates to lbry.io, but I felt it was better placed in this repo.

---

@lyoshenka commented on [Fri Sep 01 2017](https://github.com/lbryio/int

[2017-09-07 14:47] MSFTserver commented on #211
was it meant for the backup link to be greyed out if im not verified? i noticed this upon a fresh install

[2017-09-07 15:03] tzarebczan commented on #211
It's greyed out if there are no transactions on the account. I mentioned this to @kauffj and he's open to changing it in the future.

[2017-09-11 02:32] tzarebczan commented on #211
The first stab is here, let me know what you think: https://github.com/lbryio/lbry.io/pull/219

[2017-09-12 14:30] kauffj opened #220 "Create KB article related to claiming tips"
This article will be linked in GitHub issues as a footer, e.g.

_If you'd like a tip for contributing this issue, please [see this article](https://lbry.io/faq/tips-for-issues)._

[2017-09-13 20:53] tzarebczan opened #221 "newline rendering issue between bullets"
Newlines between bullets are inserting a `<p>` tag inside of the `<li>` tag which leads to incorrect formatting of bullets.

Noticed this when creating https://lbry.io/faq/startup-troubleshooting originally and I had newlines between the bullets. Removing them fixed the issue but the renderer should be able to handle this situation correctly.

## Internal Use

### Acceptance Criteria
1.
2.
3.

###

[2017-09-13 23:21] tzarebczan opened #222 "anchors not working on lbry.io"
Noticed this while browsing https://lbry.io/faq/contributing - clicking the bookmarks doesn't take you to the correct section.

The anchors in  https://github.com/lbryio/lbry.io/blob/master/content/faq/contributing.md seem to work fine.

[2017-09-14 00:43] kauffj commented on #222
So, this is annoying. Two different kind of Markdown syntaxes for anchors.

Our PHP uses: https://michelf.ca/projects/php-markdown/extra/#spe-attr
GitHub uses: https://gist.github.com/asabaylus/3071099

I suppose since this is the website file, we ought to use the PHP syntax documented above (I haven't confirmed this works, btw).

[2017-09-14 00:50] kauffj commented on #222
I was wrong, our PHP uses: https://github.com/erusev/parsedown-extra

[2017-09-17 19:42] eriknelson opened #225 "Add gnome-keyring expectation to startup troubleshooting page"
I have a few workstations that run a minimal i3 env without `gnome-keyring` installed and enabled; it made the client hang without explanation: [issue](https://github.com/lbryio/lbry-app/issues/572). Looks like there are a number of other people who have run into this problem. Would be good to add the observed error and a section on why that's happening to the startup troubleshooting page.

[2017-09-17 19:46] tzarebczan commented on #225
We already have it mentioned on the startup page:
https://lbry.io/faq/startup-troubleshooting

Currently, LBRY requires an authorization token to be generated using the keytar libraries. Please ensure libsecret and keytar are installed. On some distributions, LBRY won't run unless gnome keyring is also installed/operational. See GitHub issue for more information. If you get a GLIBCXX_3.4.2 error,

[2017-09-18 15:42] #225 closed

[2017-09-18 16:20] tzarebczan commented on #220
Completed in https://github.com/lbryio/lbry.io/pull/223

[2017-09-18 16:20] #220 closed

[2017-09-18 16:21] tzarebczan commented on #211
Completed in https://github.com/lbryio/lbry.io/pull/219

[2017-09-18 16:21] #211 closed

[2017-09-19 13:44] kauffj commented on #222
@tzarebczan you can likely fix this by changing the anchor syntax to match that specified in the first/third link.

[2017-09-19 14:55] tzarebczan commented on #222
Yup, was going to look into it this week. Thanks for the initial legwork.

[2017-09-25 16:19] tzarebczan commented on #222
Fixed the contributing doc: https://lbry.io/faq/contributing#designing

Will check if we are doing this elsewhere - definitely on the learn page.

[2017-09-25 16:19] #222 closed

[2017-09-25 16:21] kauffj commented on #222
The learn page is not rendered via Markdown

On Mon, Sep 25, 2017 at 12:19 PM, Thomas Zarebczan <notifications@github.com

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-09-25 16:25] tzarebczan commented on #222
I meant the what page, oops. I see its in PHP, and they already work: https://lbry.io/what#combatting-the-ugly (I was using the wrong URL in the past which I why I didn't think it was working)

[2017-09-26 13:49] kauffj commented on #201
@tzarebczan this is real but I can't figure out what resolution it breaks at. There's one resolution at which it breaks (I _thought_ it was when 800 or 801px wide, but couldn't reproduce).

Can you track this down and re-assign to me once you've figured it out?

[2017-09-26 23:42] KamilPiekutowski commented on #221
Does this still need to be resolved?

[2017-09-26 23:47] tzarebczan commented on #221
It's a minor annoyance, but sure!

[2017-09-27 00:07] KamilPiekutowski commented on #221
MY browser does not show any <p< in between <li>s. Is there something I am missing?

[2017-09-29 20:16] finer9 opened #234 "Enhancements to /get"
- Reilly video of app use
- Version #
- Size of download

<img width="787" alt="adobe" src="https://user-images.githubusercontent.com/16390156/31034321-8f4eb43a-a531-11e7-8fcf-feb1f03dec3a.PNG">

[2017-09-29 20:17] finer9 commented on #234
@kauffj how do I programmatically get the version and file size of the current release?

[2017-09-29 20:17] finer9 commented on #234
@reillysmith add that gif when ready, here

[2017-10-03 22:25] tzarebczan commented on #201
Tried a bunch of resolutions in FF and Chrome, could no reproduce either. Reaching out to the user to see what browser/resolution they were running.

[2017-10-04 03:52] finer9 commented on #234
Hey divas anyone want to help me?? :p

[2017-10-04 14:52] finer9 commented on #234
GitHub::get('/repos/lbryio/lbry-app/releases/latest') - @kauffj can you write me a two functions - one that outputs the version and one that outputs the file size?  Just simple text output I can call.  @lyoshenka pretty please?

[2017-10-04 22:42] kauffj commented on #234
Done and live.

This line is where the new information is being rendered:

https://github.com/lbryio/lbry.io/blob/master/view/template/download/get.php#L30

[2017-10-05 21:59] tzarebczan commented on #234
The new downloads page looks great!

[2017-10-05 21:59] #234 closed

[2017-10-11 00:11] tzarebczan opened #237 "Adding email on subscribe page fails - Something went wrong. Please enter your email address again."
https://lbry.io/list/subscribe

This was reported on twitter. Not sure where the links to that page even are.

[2017-10-11 00:12] tzarebczan commented on #215
@lyoshenka  - when users go to https://lbry.io/android and enter their email, where is it stored? You don't get anything in terms of a confirmation either, just takes you back to the page.

[2017-10-16 20:06] #215 closed

[2017-10-16 20:20] #237 closed

[2017-10-17 13:59] kauffj opened #238 "New YouTube on-boarding page"
As discussed with Reilly and Natalie.

[2017-10-24 18:12] kauffj opened #241 "SSL errors on all non-www subdomains"
Domains like [https://abc.lbry.io](https://abc.lbry.io) will serve the website, but trigger an SSL error.

[2017-10-25 21:46] kauffj opened #242 "Update references to Slack"
It appears a number still exist, even though the navigation has been corrected:

https://github.com/lbryio/lbry.io/search?utf8=%E2%9C%93&q=slack&type=

[2017-10-25 21:48] tzarebczan commented on #242
Yep, was waiting for the chat.lbry.io url to work. Will update these shortly.

[2017-10-25 21:53] kauffj opened #243 "Add user-friendly way to clear app-cache and/or auto-clear cache as github commit hook"
Currently the only way to clear the APC cache is to SSH directly to the lbry.io webserver.

This means that we cannot ask our marketing or other non-technical personnel to handle a release once it is finished building.

[2017-10-26 15:17] tzarebczan commented on #242
@kauffj should be all set. There are still some references to Slack in the code / old bounties.

[2017-10-26 15:17] #242 closed

[2017-10-31 11:29] lyoshenka commented on #241
can't fix this till letsencrypt supports wildcard subdomains: https://letsencrypt.org/2017/07/06/wildcard-certificates-coming-jan-2018.html

[2017-10-31 11:30] lyoshenka opened #246 "Update website homepage etc."
@hackrush01 commented on [Wed Oct 25 2017](https://github.com/lbryio/internal-issues/issues/51)

The app has come a long way in the past few weeks, the homepage image should be updated to reflect the same(a slider gallery could be even better, I guess). Possibly low priority, and I was unsure where to file issue, so I opened it here.

---

@kauffj commented on [Wed Oct 25 2017](https://github.com/

[2017-11-01 13:26] lyoshenka commented on #243
Closed by #247

[2017-11-01 13:26] #243 closed

[2017-11-08 22:58] kauffj opened #249 "Create FAQ article on transaction types"
Article slug: transaction-types

Suggested title: What types of LBRY transactions are there?

The body should include a table of the types currently listed in the app and what they mean.

[2017-11-09 21:13] tzarebczan commented on #249
Fixed by https://github.com/lbryio/lbry.io/pull/251

[2017-11-09 21:13] #249 closed

[2017-11-22 21:13] kauffj opened #254 "Consider creating Publisher or Creator FAQ category"
Inspired by https://github.com/lbryio/lbry.io/pull/253, which I ended up putting other Other. I think at least 3 questions could go in this category, so it might make sense to start one.

[2017-11-22 21:23] LavRadis commented on #254
I'm interested in contributing to this FAQ. Tom let me know if it's ok and give me some guidelines.

[2017-11-22 21:25] tzarebczan commented on #254
@kauffj we have https://lbry.io/faq/how-to-publish

Did you want something more high level which branches off into that?

[2017-11-22 21:39] kauffj commented on #254
@LavRadis @tzarebczan this ticket is just for a new category.

I think `how-to-publish`, `community-top-bids`, and `make-money` (which should prob be renamed) could all be clustered in the same category for Publishers, along with a new article or two (like at least one about YouTube sync!).

[2017-11-22 21:46] tzarebczan commented on #254
Ah, got it now. Yup makes sense.

[2017-11-24 23:13] etisdew commented on #241
I found it easiest to just ssl both www and // variants and redirect to https regardless. Would it be possible to script something to provision the directory with a rewrite condition in your scheme? Apache/PHP?

[2017-11-27 20:30] seanyesmunt opened #255 "Shapeshift FAQ"

[2017-11-28 12:17] tzarebczan opened #256 "Language selection for lbry.io"
Would it be possible to add a language selector to our website? A user recently requested this feature on Discord.

[2017-11-28 15:52] etisdew commented on #246
at 1366 * 768 native resolution and firefox dev, layout makes header and footer redundantly create scrolling. Its very close to looking like an SPA by a very narrow margin.

[2017-11-28 15:54] tzarebczan commented on #246
@etisdew can you please make a new issue with screenshots for this?

[2017-11-29 06:40] etisdew opened #257 "RFC - issue #246"
*[Source](https://github.com/lbryio/lbry.io/issues/246)*
![image](https://user-images.githubusercontent.com/26851121/33361386-bb23b5bc-d48c-11e7-8c73-e5c09aac41bd.png)
This displays perfectly in fullscreen (via f11) however feels redundant considering it creates a scroll in of itself by including a footer. Would you stylistically appreciate the single page layout? If you highlight the image and no

[2017-11-29 06:47] etisdew commented on #257
Would i be going too far out on a limb calling the footer header and leaving it on the bottom?

[2017-11-29 16:24] kauffj opened #258 "Make download button on lbry.io homepage actually download"
1. Create a partial, `download/_button.php` that will render just a download button (the button that currently exists on `get.php`).
2. Use `DownloadActions::prepareButtonPartial` to prevent duplication of code re: OS detection
3. If the button is rendered for a request from an OS we do not support, have the button link to `/get` instead (which will explain it is not available on that OS and colle

[2017-11-29 16:27] tzarebczan opened #259 "Tag mobile user signups in api db / mailgun"
Users who currently come in through a mobile platform are presented with an email signup. The email is stored in our db (or mailgun?) but there is no way to identify the user as Android/IOS.

[2017-11-29 23:18] kauffj commented on #255
Please give this article a slug of `shapeshift`.

[2017-11-30 01:52] kauffj commented on #255
FAQ should cover:

- Shifts are handled by ShapeShift. We don't handle funds and funds aren't coming from us.
- Some kind of disclaimer that puts ShapeShift as responsible as possible.
- Mention that ShapeShift charges fees (link to their materials on this).
- Cover that once you've finished the shift, there's not really a record of it. Once the app sees the funds hit your wallet, it'll update, bu

[2017-11-30 01:53] kauffj commented on #255
@seanyesmunt you're encouraged to add anything here that may be important to cover about this feature. In particular try to think of things that a curious user might want to know, or that a user who is confused or uncertain about this feature might want to know and/or be re-assured about.

[2017-11-30 04:31] seanyesmunt commented on #255
I'll try to think of other stuff we can include. I like the idea of including pictures of how a successful shift will look.

[2017-12-01 15:54] lyoshenka commented on #256
What would a language selector do? We would need to translate *everything* (present and future) on the site into whatever languages we offer.

Or are you talking about automated translation (via google translate or something similar)? I'd be more open to this, but I'm not sure how much value it adds.

[2017-12-01 15:58] tzarebczan commented on #256
I thought we already have some translations (not everywhere obviously) but they are enabled based on browser language settings.

[2017-12-01 16:05] #246 closed

[2017-12-01 16:08] lyoshenka commented on #257
good point. I removed the footer. thanks for pointing this out. take a look at https://lbry.io/faq/tips

[2017-12-01 16:08] #257 closed

[2017-12-01 16:17] lyoshenka commented on #255
Is it true that there's no record of the shift? Can we at least show the
user a url to see the shift, or a shift id. I think shapeshift has that.

On Wed, Nov 29, 2017 at 11:31 PM, Sean Yesmunt <notifications@github.com>
wrote:

[2017-12-01 17:11] seanyesmunt commented on #255
Yes, in the current implementation there is a link to the shapeshift status
page

On Fri, Dec 1, 2017 at 11:17 AM, Alex Grin <notifications@github.com> wrote:

[2017-12-02 00:06] tzarebczan opened #263 "Win10: An App Default Was Reset" error for aac & m4a files on startup"
@icheyne commented on [Fri Dec 01 2017](https://github.com/lbryio/lbry-app/issues/807)

### Steps to reproduce
1. Start lbry.io
2. See two errors:
* An App Default Was Reset for aac files
* An App Default Was Reset for m4a files

## System Configuration
- LBRY Daemon version: 0.18.0
- LBRY App version: 0.18.2
- LBRY Installation ID: 6he7dX74BiDuqUdEowvF1QVk9xj6LtS9LGdxWF9oBkDssUajXSGczDSiZYc2KreYC

[2017-12-02 00:07] icheyne commented on #263
OK I've decided I can't be 100% it's the fault of lbry.io. Not sure what is causing this weird bug. Sorry.

[2017-12-02 00:08] tzarebczan commented on #263
No worries, closing for now :)

[2017-12-02 00:08] #263 closed

[2017-12-04 20:33] finer9 opened #274 "Changes to download process for links from email to be GA tracked"

[2017-12-06 21:48] tzarebczan commented on #254
Completed in https://github.com/lbryio/lbry.io/pull/276

[2017-12-06 21:48] #254 closed

[2017-12-06 21:50] tzarebczan commented on #135
Hook to refresh links was added to lbry.io/xxxxxx (See internal PR documetnation)

[2017-12-06 21:50] #135 closed

[2017-12-07 15:21] kauffj opened #280 "Figure out a way to sync docs/kb across repos"
There's good content here: https://github.com/lbryio/lbryschema/tree/master/docs

At least some of this should also be on lbry.io.

[2017-12-07 15:24] kauffj commented on #135
lbry.io is open source so it's not really a secret :)

@lyoshenka said he wasn't concerned with abuse of the ability to clear the cache

[2017-12-07 17:57] kauffj opened #281 "Create YouTube sync FAQ"
This will explain users how the sync process works and what the requirements are.

It will be linked from the app.

Please create this at lbry.io/faq/youtube

[2017-12-07 18:22] ykris45 commented on #281
If your YouTube account has more than 10 videos and 30K views and you are not verified after restarting LBRY(close completely from tray), please contact hello@lbry.io with your YT channel name and LBRY connected email. (The requirements of yt sync)

[2017-12-09 15:07] real-rouse opened #285 "Team page doesn't show new team members."
https://lbry.io/team ;)

[2017-12-11 14:45] #255 closed

[2017-12-11 14:46] #281 closed

[2017-12-11 21:34] reillysmith opened #290 "Add support for blog tags"
1. Add support for defining multiple tags in the FrontMatter metadata of a blog post. The definition should look like this:

`tags: tag1, tag2`

2. Add a route ( `/news/tag/{tag}`) and handler for displaying all blog posts with a tag. This may be a new handler or just a modification to `ContentActions::executeNews`. Use `Post::filter` to filter for posts with a tag (`ContentActions::executeFaq` ha

[2017-12-11 21:37] kauffj commented on #290
Do you see this as different from "categories" in a traditional blog context?

(Categories = pick one and only one, as opposed to tags, which is pick as many as you like)

[2017-12-14 20:07] Feanor78 opened #291 "Implement "categories" functionality for "news" posts"
Allow blog posts in the "news" section to be categorized like posts in the "bounty" section (https://lbry.io/bounty) and create RSS subscriptions/feeds for each category

[2017-12-14 22:05] tzarebczan commented on #291
@Feanor78 is this the same as https://github.com/lbryio/lbry.io/issues/290 ? Maybe expand on that one

[2017-12-15 00:52] tzarebczan opened #292 "Fix render of github release notes(markdown) on roadmap"
Lbry.io/roadmap does not process markdown correctly which affects the release notes sections.

[2017-12-19 21:46] vfioox commented on #292
What is the problem specifically? Is this issue already resolved?

[2017-12-19 21:53] tzarebczan commented on #292
Take a look at https://Lbry.io/roadmap - it pulls from github and it doesn't convert the markdown parts into linkable URLs. Compare to the changelog on lbry-app

[2017-12-21 21:25] liamcardenas opened #297 "Mac Docker Setup Broken"
I'm using Docker version 17.09.1-ce on macOS Sierra 10.12.6. The `docker.sh` script doesn't work. This seemed to mostly work

[code]

But then it said that the directory `web/` could not be found. I am not sure how to fix this, I have instead opted to run with just php for now which works fine.

[2017-12-22 19:31] lyoshenka commented on #297
This script was added by an outside contributor. It probably needs to be updated or removed, since I don't think any of us use it.

[2017-12-29 21:29] ykris45 commented on #285
Team page is updated . Let's see rouse .

[2017-12-29 23:35] #285 closed

[2018-01-04 17:49] Feanor78 commented on #291
Yes, pretty much the same.

[2018-01-04 17:50] Feanor78 commented on #290
It would be better to have tags so that content could appear in all the appropriate buckets - sometimes development and news will overlap, etc.

Whatever the easiest technical solution to make it work like the "bounties' page is, I'm in favor of that :)

[2018-01-04 20:39] tzarebczan opened #307 "Bring back bounty for API language specific wrappers"
https://github.com/lbryio/lbry.io/commits/master/content/bounty/lbry-binding.md

-Link php example
-Create FAQ with wrappers and POC
Grin:
i don't want it to be one repo. i think it should be separate repos for each language
that tends to work better with package managers
instead of resurrecting,  id put up some examples, like https://github.com/lbryio/php-api
btw, as part of this, it would be nic

[2018-01-08 21:07] Feanor78 opened #310 "Fix large image/video size in "news" posts"
Please make it so the FB messenger image and Reddit video render much smaller than they do currently - IIRC Jeremy said that he can make images show up as "maximum of 75% of the screen" or something like that, if we could do the same with the video that would be great.

https://lbry.io/news/why-do-tech-giants-abuse-their-users

^examples of both here

[2018-01-08 23:25] kauffj commented on #310
fixed

[2018-01-08 23:25] #310 closed

[2018-01-09 20:57] kauffj commented on #291
Duplicate of #290

[2018-01-09 20:57] #291 closed

[2018-01-11 14:24] tzarebczan opened #313 "Add twitter handles to team page"
1. Add twitter handles to the FrontMatter metadata of bios (e.g. add `twitter: seanyesmunt` to `sean-yesmunt.md`)

2. Modify `content/_bio.php` to show a link to Twitter if a handle is set, using a Twitter icon.

3. Ask @blckchnprncss to collect the Twitter handles of LBRY team members ;)

Per suggestion from @seanyesmunt :)

[2018-01-15 15:12] FUNKePILLs commented on #258
On it.

[2018-01-15 17:28] tzarebczan commented on #274
@finer9 this is completed this?

[2018-01-15 17:33] tzarebczan opened #315 "FAQ to summarize / simplify LBRY's stance and role in censoring "bad" content"
Questions come up frequently about pirated, sensitive, illegal content and how LBRY plans to deal with it.

The closest resource we have for this information is: https://lbry.io/what#combatting-the-ugly

A summarization/simplification of LBRY's stance and how it plans to combat that type of content should belong in a separate FAQ article.

[2018-01-15 18:11] tzarebczan opened #316 "Generate new FAQ(s) based on Jeremy's email Q&A"
Q. Is anonymous publication possible?  How is anonymity accomplished?

A. LBRY does not log

Q. What are the privacy mechanisms?  Specifically:
  - Can publishers be connected to real-world identifiers, such as IP addresses?  If not, how do you authenticate users so they can maintain control of their content?

A. Yes, if they choose to provide this info. Some of this is still in the works, they're

[2018-01-15 18:12] tzarebczan commented on #315
Questions to consider covering:

Q. What happens if I use LBRY to publish kiddie porn?

A. https://lbry.io/what#combatting-the-ugly

Q. What happens if I use LBRY to publish the secret scripture of the Church of Scientology, and their lawyers want to sue both me and you into oblivion?

A. We comply with the CDA / DMCA to the best our technology allows. We would not be responsible for this, regardl

[2018-01-15 18:27] tzarebczan opened #317 "Create LBRY App basics FAQ"
FAQ would cover:
What is the purpose of having my email connected to LBRY?
What information is tied to the account?
What is a wallet and how do I find it?
Where do I find my LBC address?
Why is content downloaded to my PC?
How do I know if I'm sharing content properly?
Content fails to stream or download, what can I do?

Any other thoughts?

[2018-01-15 18:47] tzarebczan commented on #315
@reillysmith would you want to take a stab at this one?

[2018-01-15 22:42] seanyesmunt commented on #317
How do I ensure that my wallet is backed up?

[2018-01-15 22:43] seanyesmunt commented on #317
Maybe not that specifically but something talking about wallet backups

[2018-01-15 22:49] seanyesmunt commented on #317
Cool. Seems reasonable

[2018-01-15 22:51] seanyesmunt commented on #317
Am I being tracked? Might be nice to talk about the basic analytics we take and how users can turn them off, which still needs to be implemented.

I guess that might be under: What info is tied to my account

[2018-01-15 23:13] ykris45 commented on #316
i will make a draft of this FAQ.

[2018-01-16 20:53] kauffj commented on #259
This was fixed

[2018-01-16 20:53] #259 closed

[2018-01-16 21:21] kauffj commented on #297
@flungo are you interested to fix this?

[2018-01-16 21:45] flungo commented on #297
I'll take a look at the weekend make sure it still works on Linux and see if there is anything I can spot that would mean it doesn't work on Mac although I do not have a Mac to be able to test/confirm compatibility.On 16 Jan 2018 21:21, Jeremy Kauffman <notifications@github.com> wrote:@flungo are you interested to fix this?

—You are receiving this because you were mentioned.Reply to this email di

[2018-01-16 23:10] lyoshenka opened #320 "Straighten out team/author info"
Info about the people at LBRY exists in multiple places, primarily [the bios](https://github.com/lbryio/lbry.io/tree/master/content/bio) and a bunch of functions in [the Post class](https://github.com/lbryio/lbry.io/blob/master/model/Post.class.php#L228). It should be unified in one location, so there's no duplication and it's easy to add new people. Ideally, non-technical people should be able to

[2018-01-17 01:46] kauffj opened #321 "Something Creative / Whatever You Want"
_This issue exists to be linked from the [process section](https://lbry.io/join-us#process) of lbry.io/join-us, and ought to be closed by the eventual  owner of lbry.io, once they've been hired._

lbry.io has never had a dedicated owner, and the state of the issues, as well as the website, reflects this.

Since this position involves becoming this owner, you are welcome and encouraged to work on p

[2018-01-17 16:10] kauffj commented on #258
@FUNKePILLs how is this coming?

[2018-01-18 18:12] Feanor78 opened #324 "Broken images on old blog posts"
It appears that a lot of images are broken on old blog posts, including the author slug image for Samuel Bryan. Some examples below, pulled from posts around [this one](https://lbry.io/news/mde-on-lbry):

![image](https://user-images.githubusercontent.com/13907896/35113888-049b9a5c-fc51-11e7-8b5b-0368b6f6261f.png)
![image](https://user-images.githubusercontent.com/13907896/35113906-0ebd233e-fc51-1

[2018-01-18 19:13] lyoshenka commented on #324
Try these steps. Do any of them help? https://zenguard.zendesk.com/hc/en-us/articles/204423722-Chrome-error-ERR-SPDY-PROTOCOL-ERROR-

[2018-01-18 19:13] lyoshenka commented on #324
Also, are you running Avast Antivirus? Seems that may be causing problems: https://productforums.google.com/forum/#!topic/chrome/sfAqeo4hDy8

[2018-01-19 18:09] Feanor78 commented on #324
Did the above and it didn't fix it - can we put this in some kind of priority bucket? We're going to be sending a lot of traffic to the site soon and it doesn't look great with a bunch of broken images.

[2018-01-19 18:22] lyoshenka commented on #324
im on it

On Fri, Jan 19, 2018 at 1:09 PM, Brinck Slattery <notifications@github.com>
wrote:

[2018-01-19 19:29] lyoshenka commented on #324
It's fixed. server was out of inodes:

https://www.ivankuznetsov.com/2010/02/no-space-left-on-device-running-out-of-inodes.html

[2018-01-19 19:29] #324 closed

[2018-01-19 20:14] Feanor78 commented on #324
Awesome, it all seems to be working now - thanks!

[2018-01-20 18:50] flungo opened #327 "Incompatible with PHP 7.2"
Due to one of the vendored dependencies (`lib/vendor/scss`) the site is incompatible with PHP 7.2. When using 7.2, the following error occurs without which then results in the content not being rendered:

Obviously, this only breaks the site when developing (since setting `$config['is_prod'] = "yes";` disables reporting). Either the dependency needs fixing/updating such that it does not use the de

[2018-01-20 19:01] flungo commented on #297
Made a patch (#328) which should be compatible with MacOS.

@liamcardenas could you please checkout my fork and confirm that this now works for you?

Bear in mind #327 which will mean you should set `$config['is_prod'] = "yes";` in `data/config.php` or change `php:7-alpine` to `php:7.1-alpine` in the `docker.sh` script to be able to see the site correctly until the deprecated function is removed o

[2018-01-21 00:19] liamcardenas commented on #297
Hi @flungo awesome that you are working on this, unfortunately, I no longer have MacOS. Do you need someone else to test? or are you just trying to verify that my exact problem is not reoccurring.

I have access to a Mac, but it is not the same one that originally had the error.

Let me know if there is anything I can do.

[2018-01-23 18:42] #313 closed

[2018-01-23 20:06] #320 closed

[2018-01-23 23:13] #327 closed

[2018-01-23 23:24] kauffj opened #331 "Setup SCSS as proper composer dependency"

[2018-01-23 23:31] maximest-pierre commented on #331
We should change the issue to "Setup proper composer for all dependency".

[2018-01-24 03:58] maximest-pierre commented on #292
I have started debugging this issue, but it seems that the GitHub API returns do not include the PR's URL, only the number. I have attached a gist with one of the GitHub API calls body.
https://gist.github.com/maximest-pierre/96564036ef8c51dfbf25898b52d19e54

[2018-01-24 04:06] tzarebczan commented on #292
We can fix the change log so it has the entire url (see some older entries on the app, they have the url). We'd want to convert that to a inline hyperlink on the pr/issue #.

[2018-01-25 12:23] maximest-pierre commented on #292
So I tested on one of my repo and by adding the whole URL in markdown ```[#1](https://github.com/test/test)``` instead of just the number ```#1``` the API returns the placeholder and the link. This behavior is caused by the way that GitHub interacts with PR and issues number in their backend.

Example to repeat this finding:
curl command: ```curl -v https://api.github.com/repos/maximest-pierre/Rel

[2018-01-25 16:41] tzarebczan commented on #292
Thanks @maximest-pierre , I'll get these updated on the releases and changelog.

[2018-01-25 16:58] tzarebczan commented on #292
@maximest-pierre will it support 2 links in 1 line like: https://github.com/lbryio/lbry-app/releases/tag/v0.19.1 ?

[2018-01-25 17:23] maximest-pierre commented on #292
I am pretty sure it will support it.

[2018-01-25 17:31] maximest-pierre commented on #292
It works on my computer but the links are not colorized correctly but they are there. I will look into this later today.

[2018-01-25 20:16] tzarebczan commented on #292
@maximest-pierre I see that as well, thanks.

@kauffj suggested we should be able to perform a regexp pass on the roadmap description content in order to build the URLs programmatically.  This would need to be done on both the lbry and lbry-app repos.  I'll have to get the lbry repo changelog / release notes updated as well because they used just the URL (i.e. Fixed unnecessarily verbose exchange

[2018-01-25 22:53] kauffj commented on #292
Yes, @maximest-pierre I think a regexp pass on the GitHub descriptions is a preferable solution.

Note that a single URL structure works for both Issues and PRs. E.g.:

https://github.com/lbryio/lbry-app/issues/942

942 refers to a PR, but linking to it as an issue simply redirects. GitHub uses a single consistent numbering scheme for both issues and PRs.

[2018-01-25 23:59] maximest-pierre commented on #292
Alright, I will draft something up soon.

[2018-01-29 01:05] maximest-pierre opened #336 "The production variable should be a Boolean and not a String"
Currently, the is_prod configuration variable is a string. This means that the server can be is_prod ```'yes'``` or ```'no'```. This is ugly, we should change it for a Boolean to make it cleaner and easier to debug.

This variable is defined in the ```config.php```.

There are also checks here and there that also needs to be changed.

Steps to accomplish this:
1. Change the variable in the ```conf

[2018-01-29 01:09] maximest-pierre opened #337 "Add PHPUnit"
Add PHPUnit to test the website. This will enable us to make sure that changes don't break the website.

**Make sure that the PHPUnit is install through composer and not manually**

[2018-01-29 15:46] hackrush01 opened #338 "Update the regtest set-up guide"
Steps:
1) Update the steps(2 points)
2) Try on a fresh OS install(2 points)

[2018-01-30 03:22] maximest-pierre commented on #292
So I ended up not using a regex for this but changing the media type of the GitHub request from json to json+html which gave me access to the raw HTML with the link. It is a simpler fix than using regex, I am still testing this fix and enabling a lot more stuff to the roadmap.

[2018-01-31 19:41] tzarebczan opened #347 "highlight hyperlinks on roadmap"
Continuation of https://github.com/lbryio/lbry.io/issues/292

The hyperlinks to prs/issues on https://lbry.io/roadmap are not highlighted as such

[2018-02-01 14:47] tzarebczan commented on #292
Closing this, last issue noted in #347

[2018-02-01 14:47] #292 closed

[2018-02-01 15:01] maximest-pierre commented on #347
I will check this out during the afternoon.

[2018-02-01 15:02] tzarebczan commented on #315
Maybe @jsigwart wants to take a shot after she's done with meetups/campus :p

[2018-02-01 21:51] kauffj opened #350 "SEO and social metadata clean up (rel=canonical and og:url)"
Two related issues:

### Missing `rel=canonical` on identical pages

@tzarebczan inadvertently pointed out that the following URLs serve the same post:

https://lbry.io/news/lbry-development-community-update-jan-2018
https://lbry.io/news/159-lbry-development-community-update-Jan-2018

At a minimum, blog post pages should include a `rel=canonical` tag pointing to the best URL (just the slug, no num

[2018-02-02 15:10] Jeremy1026 commented on #258
Pull request submitted for this issue - https://github.com/lbryio/lbry.io/pull/353

[2018-02-02 19:57] #347 closed

[2018-02-02 20:04] tzarebczan commented on #347
@maximest-pierre hmm, the underlines cut through/into some of the pr #'s...almost seems like they are misaligned.
![2018-02-02_15-03-16](https://user-images.githubusercontent.com/8120721/35752546-5ddea8f4-082a-11e8-8b53-64a1754a8cf0.png)

[2018-02-02 20:42] maximest-pierre commented on #347
without the highlighting, they seem to do that also. It might be the font.

[2018-02-02 20:58] maximest-pierre commented on #347
![screenshot from 2018-02-02 15-57-38](https://user-images.githubusercontent.com/7928135/35754550-d7857596-0831-11e8-914c-4719b576ded1.png)

By changing the font from raleway to roboto seems to fix it.

[2018-02-02 22:04] #336 closed

[2018-02-03 22:04] xorgy commented on #258
On the surface this looks like a good idea, but it should probably still be a separate page for Linux users. Ubuntu may have a majority, but it'll be misleading for users of other distributions if they click to download and it just gives them a deb.

[2018-02-03 22:10] kauffj commented on #258
That is a very good point @xorgy! Is there a browser-based way of detecting `.deb` packaging support? If not, I agree that we should send to the full page on Linux.

[2018-02-03 22:10] xorgy opened #357 "dev.sh should try running "php" if "php7.0" doesn't exist in PATH"
I'm on ArchLinux, where PHP 7 is just the current shipping version, so for me it needs to call `php`.

[2018-02-03 22:20] xorgy commented on #258
@kauffj It doesn't seem like there is any reliable way to detect that, so I think a redirect is necessary for now.

[2018-02-04 00:27] Jeremy1026 commented on #258
My pull request handles non-Debian distros in this manner. If there isn't a valid match for a release in GitHub the button will link to /get instead of providing a direct download to the .deb. Tested with a CentOS user-agent string of `Mozilla/5.0 (X11; U; Linux x86_64; en-US; rv:1.9.2.24) Gecko/20111109 CentOS/3.6.24-3.el6.centos Firefox/47.0`

[2018-02-04 05:25] jsigwart commented on #221
Is this still an issue? It looks like there is 24px of margin space between list items. Is there a need for newlines within the list items?

[2018-02-04 11:37] xorgy commented on #258
@Jeremy1026 Interesting that Firefox on CentOS has a special UA, this is my chrome on ArchLinux:
[code]

[2018-02-04 11:40] Jeremy1026 commented on #258
I’ll pop them in as a test to see what happens, but I *think* that should work as expected.

[2018-02-05 02:48] xorgy opened #362 "Example configuration doesn't work"
The example configuration (`/data/config.php.example`) doesn't require properly, preventing the dev server from serving anything the first time, since it starts up with a copy of the example configuration. This is annoying since the warning is fairly late and disconnected from the source of the issue.

[2018-02-05 16:36] #362 closed

[2018-02-05 19:35] kauffj opened #364 "YouTube Onboarding Stage 2"
The following changes need to happen to lbry.io to support our new YouTube onboarding campaign (currently located at lbry.io/yt2, but eventually moving to lbry.io/youtube):

### Basic Cleanup
- [x] Integrated into standard page set up and flow. Currently, this page is dumped in raw in `yt2.php`, rather than using `basic.php` as a layout. It should use `basic.php`.
- [ ] Move CSS into SCSS. `yt2.cs

[2018-02-05 20:52] jsigwart commented on #315
Yes, you can assign this one to me, @tzarebczan

[2018-02-05 23:23] #290 closed

[2018-02-06 00:03] kauffj commented on #221
I think I fixed this without realizing there was a ticket for it. @tzarebczan can you confirm this issue is resolved?

[2018-02-06 05:57] jsigwart commented on #317
Is this going to be integrated into the main FAQ page?

[2018-02-06 06:23] jsigwart opened #368 "Add Acceptable Use Policy to Website"
Review first draft, get sign-off, then add page.

[2018-02-06 06:24] tzarebczan commented on #317
Yes, just haven't had a chance to take a closer look to clean it up.

[2018-02-06 16:42] #338 closed

[2018-02-06 20:11] kauffj commented on #368
I think the proper place for this is the FAQ. So all that needs to be done for this is to migrate [this](https://docs.google.com/document/d/1qbkjMtGRT0ewpeTPUQfHZonBQDuWwe2fiDP2UmmnAg4/edit) into markdown and add it.

Assigning to @Feanor78 (please review the doc, as well).

[2018-02-06 20:28] jsigwart commented on #368
Can I suggest linking it in the footer? There are no legal disclaimers or copyright info on the bottom of the site right now. Need privacy policy, too, but that should be its own issue.

[2018-02-06 22:37] kauffj opened #369 "Determine if any disclaimers, links, policies, etc. should be in website footer"

[2018-02-06 22:37] kauffj commented on #368
Let's treat that separately https://github.com/lbryio/lbry.io/issues/369

[2018-02-07 19:58] tzarebczan commented on #221
Nope, still happening and Brinck ran into it recently when creating https://github.com/lbryio/lbry.io/blob/master/content/news/158-LBRY-in-2017-2018.md which had bullets.

To reproduce, edit that file locally to insert new lines between the bullets.

![bullets](https://user-images.githubusercontent.com/8120721/35938490-3aec819a-0c17-11e8-929a-2037ee423505.png)

The page source looks like:
[code]

[2018-02-08 14:25] #357 closed

[2018-02-08 21:23] lbrydocs opened #373 "Docker install fails for both Linux & OSX"
When I try to run lbry.io under Docker on OSX I get the following error.

When I try running it on Lubuntu 16.04.3 LTS under Virtual Box I get the following errors:

Doesn't like being run via an ssh tunnel ...

<img width="795" alt="failure-tunnel" src="https://user-images.githubusercontent.com/36087921/35998883-d2736c8e-0cd2-11e8-89f2-6f34442abd1d.png">

Also doesn't want to run in a browser on

[2018-02-14 17:20] tzarebczan commented on #317
Closed with https://github.com/lbryio/lbry.io/pull/322

[2018-02-14 17:20] #317 closed

[2018-02-14 18:33] tzarebczan commented on #315
@jsigwart can't assign you for some reason, but will create an Asana task to track this.

[2018-02-18 03:04] maximest-pierre opened #382 "Update jquery"
The version of jquery that is bundle is really outdated. The version bundle is 2.1.3 and the current one is 3.3.1.

An alternative to using a bundled library is to use a CDN to deliver the appropriate dependency.

[2018-02-19 17:27] tzarebczan opened #386 "Add 'Contact Us' page / link or link to email contact"
Currently, when navigating through the main lbry.io pages, there's no easy access to contact information.

We should:
a) create a contact us page and link to it from main header/footers Page would also have office info/contact phone number?
or
b) add email contact button which goes to hello@lbry.io to main header/footers

[2018-02-19 17:36] kauffj commented on #386
I support the addition of a public contact email (hello@), but I think putting this in the header is wrong and _probably_ the footer is wrong too. Maybe just on the /learn page?

[2018-02-19 17:40] kauffj commented on #373
I merged #383 - what aspect of this problem is macOS specific?

[2018-02-19 17:53] kauffj commented on #315
Was this finished?

[2018-02-19 18:05] tzarebczan commented on #315
Being worked on here: https://docs.google.com/document/d/1TynBaUgxfaufdVWjZqRrbKMr3zMY6sHexWwgNokl4wU/edit

[2018-02-19 21:18] jsigwart commented on #315
Going to add copy per Tom's request, "we should talk about the protocol/blockchain vs app in terms of censorship somewhere in this doc," but would love more eyes on the overall doc.

[2018-02-20 15:14] lyoshenka commented on #382
What is the advantage of the newer jquery?

On Sat, Feb 17, 2018 at 10:04 PM, Maxime St-Pierre <notifications@github.com

[2018-02-20 15:32] maximest-pierre commented on #382
There seems to be some speed improvement with some function and also better support for form and ajax. There is also some security patch. Before doing any changes to JQuery, we also must check that we don't break any functionality.

[2018-02-20 17:50] reillysmith commented on #364
Why is this now a manual input? Am I reading this incorrectly? This should still be a read-only auth from their logged in Google account.

[2018-02-20 21:08] kauffj commented on #364
@reillysmith The plan is to use the form as a lead-gen tool prior to auth (expecting someone to auth the sync on a first visit is asking a lot IMO). Not 100% sold on this approach though. Message me on Slack to discuss further.

[2018-02-21 06:17] jsigwart commented on #315
#388 pull request

[2018-02-22 05:58] lbrydocs commented on #297
I suspect it might have been my setup that triggered this - I had problems with another package, a friend helped me through it. Let me see if my current setup behaves.

[2018-02-22 06:00] lbrydocs commented on #297
I have a Mac running 10.13 and I have Parallels, so I can roll out older version of the OS without too much trouble.

Is there a very specific goal here? Like, has to work with 10.13 and 10.12? There is a limit to how far back I can go, it's based on what App Store will permit for downloads based on hardware.

[2018-02-22 06:39] jsigwart commented on #369
We need to add Terms of Service and Privacy Policy. When I was looking at making the AUP, I saw you requested it be made as a FAQ file, so I did it as a markup document.

We have a stub for ToS and it lives in the view/templates/page directory. Do we want to create ToS and Privacy Policy as individual pages there, or is there any plan to create a more generic way to manage these pages? Right now t

[2018-02-22 17:32] kauffj commented on #369
@jsigwart I suppose these could simply be FAQ articles rather than independent pages. I'm fine either way.

Re: SEO, you can set meta and social info by adding any of the following lines to the template code. Traditionally these are added at the top of the file:

[code]

Yeah, I realize this isn't particularly user-friendly, especially the last line.

[2018-02-22 17:43] jsigwart commented on #369
That also defeats the purpose of having a yaml file for internationalization.

[2018-02-22 18:39] ykris45 commented on #386
#390

[2018-02-22 18:40] ykris45 commented on #386
#390

[2018-02-22 18:41] ykris45 commented on #386
https://user-images.githubusercontent.com/26609573/36509731-3d10b5d6-1793-11e8-8bf7-5ef9e5528a6a.png

[2018-02-22 18:50] kauffj commented on #369
@jsigwart you can also use the `i18n` calls inside of those, e.g.

```<?php Response::setMetaTitle(__('page.meta.title.')) ?>```

[2018-02-22 19:02] jsigwart commented on #369
I understand that. What I'm getting at is basic website structure and content management: are we going to make FAQ the default place to dump content, having it become huge scrolling page like the news section? Or do I set up individual pages in the templates folder (seems silly), or will we add a page management system to manage md files similar to how the FAQ handles? And then pagination of long

[2018-02-22 20:27] #386 closed

[2018-02-23 00:15] kauffj commented on #369
Ah, my mistake. What do you think, is it more appropriate that this be a standalone page or a FAQ article?

(Related: perhaps it's more appropriate to call the FAQ a KB).

Both of the following are possible:
- Changing the FAQ page to better handle a large number of documents
- Adding support for a page that is just a markdown file (though this limits what you with the page, it's relatively easy t

[2018-02-23 01:13] jsigwart commented on #369
My thought about what is best right now is to make the ToS and Privacy Policy as FAQ pages (so we can do them in markdown) and get those linked in the footer, then revisit website structure later. See comments in #391 re: new FAQ category.

[2018-02-25 19:08] ykris45 commented on #382
#400

[2018-02-26 21:34] tzarebczan commented on #315
Closed in https://github.com/lbryio/lbry.io/pull/388

[2018-02-26 21:34] #315 closed

[2018-02-26 22:37] #382 closed

[2018-02-27 17:28] lyoshenka commented on #238
duplicate

[2018-02-27 17:28] #238 closed

[2018-02-27 21:57] kauffj opened #402 "Identify top 404s"
It'd be good to log/track the most common 404s, so we can see if there are redirects or pages that should exist at the accessed URLs.

[2018-02-27 21:57] kauffj commented on #402
This is probably in Analytics already.

[2018-02-27 22:10] finer9 commented on #402
I dont understand how our 404 is served...it seems dynamic?  I dont think there is a special 404 section in typical analytics; you'd just look at the stats for the 404 page, see referrers, etc.  However there may be a custom report that actually parses the log for 404s.  Any thoughts?

[2018-02-28 16:44] nikooo777 commented on #364
Did you have a discussion regarding this?
Can you update me or can we have a call together?
I think that the process should not allow anything else than specifying the email and the channel name, however authenticating with youtube should be done together. Why give space for second thoughts?

[2018-02-28 16:52] kauffj opened #403 "Add redirects for failed google crawls"
[lbry-io_20180228T162716Z_CrawlErrors.csv.zip](https://github.com/lbryio/lbry.io/files/1768010/lbry-io_20180228T162716Z_CrawlErrors.csv.zip)

[2018-02-28 16:53] kauffj commented on #403
@tzarebczan redirects are currently enumerated here:

https://github.com/lbryio/lbry.io/blob/fda77f620414a59b8058e1dbb444f73a74920bed/controller/Controller.class.php#L132

I suspect a community member could handle reviewing the failed pages and determining where they should go.

[2018-02-28 16:57] kauffj opened #404 "Proper redirect solution"
Enumerating redirects directly in `Controller.class.php` and creating a route for each one is a poor way of handling redirects.

Currently redirects are handled here: https://github.com/lbryio/lbry.io/blob/fda77f620414a59b8058e1dbb444f73a74920bed/controller/Controller.class.php#L132

Redirects should probably be pulled from a file at a minimum. Additionally, a route should not be created for each

[2018-02-28 16:58] kauffj commented on #403
Related: https://github.com/lbryio/lbry.io/issues/404

[2018-02-28 21:51] nikooo777 opened #405 "Download page should be more "expressive""
Currently when a user is redirected to the download page with `?auto=1` appended to the URL the download starts automatically, however the download button is still displaying big.
Some sort of animation or at least a change in a label saying something like `Thank you for downloading LBRY` should be displayed instead.

The same should happen when the button is clicked.

An example is found here: ht

[2018-03-02 21:09] kauffj opened #412 "More YouTube Changes"
- [x] Put the following values in a table: lbc reward, youtube channel (link), number of subscribers, number of videos
- [x] Add two input fields, one for email, and one for desired channel name. Pre-populate these inputs with the values returned from `/yt/status`.
- [x] Add a checkbox that says "I want to sync my content to the LBRY network and agree to [these terms]" (set this checkbox to the va

[2018-03-02 21:09] kauffj commented on #412
@nizuka3 to learn how to access this page, please message me or @nikooo777

@nikooo777 please review above to ensure you are satisfying this from the API side

[2018-03-05 18:10] kauffj opened #415 "FAQ Article: What do I agree to when I agree to sync my YouTube content to LBRY?"

[2018-03-05 18:16] kauffj commented on #364
Remaining work to be done is now in https://github.com/lbryio/lbry.io/issues/412

[2018-03-05 18:16] #364 closed

[2018-03-06 11:20] LavRadis opened #417 "Press kit page has missing picture or broken picture link"
One of the users reported bad link to a non-working video, I've changed that. Then I noticed that there is a broken pic link to one of the founders:  Jimmy Kiselak.

[2018-03-07 21:46] ykris45 commented on #417
#418

[2018-03-12 02:26] tzarebczan commented on #415
Can this be added to https://lbry.io/faq/youtube ?

[2018-03-12 13:05] ykris45 commented on #417
@tzarebczan can it be closed sir. jimmy kiselax didnt work with lbry team anymore . kauufj say that to mine

[2018-03-12 16:47] tzarebczan commented on #417
Thanks @ykris45 !

[2018-03-12 16:47] #417 closed

[2018-03-12 20:39] #412 closed

[2018-03-12 22:42] kauffj opened #422 "Email Management 2.0"
(All the items below plus stuff attached to this epic)

1. Create a route, `/list/edit/{token}` that will be used to display and edit a user's email preferences.
2. Call the API endpoint `/user/email_status` to retrieve a user's email settings.
3. Display a form to the user that allows them to edit their settings. This form should work as follows:
    - A radio option that says "Receive No Email"

[2018-03-13 21:08] ykris45 opened #424 "Add more information on get page"
it would be better if the download page on get.php shows like the screenshot below so that novice visitors can understand and not in confused with the meaning of the word at the bottom of the download button
![screenshot_2018-03-14-04-07-40-104](https://user-images.githubusercontent.com/26609573/37369945-486eba5e-273d-11e8-86f9-3e8104b2dc89.jpeg)

[2018-03-13 21:53] kauffj opened #425 "Convert yt2.css to SCSS"
yt2.css should instead be an SCSS file called `youtube.scss`. It should be compiled the same way other SCSS files are.

[2018-03-14 16:44] tzarebczan opened #427 "Firefox/Chrome dynamic scrolling not working on new youtube page"
Logging this for @maximest-pierre in case someone else runs into this issue, but I think it's something locally on my machine. When I click the claim channel button or the scroll up button, nothing happens. It works fine in IE. Also works on my desktop. 've had issues with other sites like design.lbry.io on this machine.

[2018-03-14 22:23] kauffj commented on #415
Yes.

[2018-03-15 17:20] tzarebczan opened #430 "Release full terms of service"

[2018-03-20 18:16] tzarebczan commented on #424
@ykris45 Want to submit a PR for this? It should probably say: "Latest Version"

[2018-03-20 18:26] ykris45 commented on #424
@tzarebczan ok. on it sir

[2018-03-20 21:56] kauffj opened #444 "Full-screenable video component"
Currently we embed videos on /youtube, /learn, and possibly in blog posts. This will only grow larger.

For these use-cases, we should create a video component that:
- Significantly enlarges the video on play
- Has an "X" or close to exit this mode (when exited, video should retain it's current play state).

A view similar to [this](https://spee.ch/1ac47b8b3def40a25850dc726a09ce23d09e7009/ever-won

[2018-03-21 20:52] tzarebczan commented on #425
@maximest-pierre can this be closed? Recall seeing a comment that we've converted all pages to scss.

[2018-03-21 20:52] tzarebczan commented on #424
Closed via https://github.com/lbryio/lbry.io/pull/443

[2018-03-21 20:52] #424 closed

[2018-03-21 20:54] tzarebczan commented on #415
Done via https://github.com/lbryio/lbry.io/pull/431

[2018-03-21 20:54] #415 closed

[2018-03-21 20:57] maximest-pierre commented on #425
Its not merge yet but I can close it

[2018-03-21 20:57] #425 closed

[2018-03-22 03:38] jerryboy4luv opened #459 "Promotion Approval"
We are a team of digital marketers and we have been given tasks to promote and market remarkable open source projects on social media. We find your project (LBRY) very remarkable and exceptional, and we would love to know if you want it to be promoted to several people in different parts of the world through social media.

We need your permission to promote this project by making a public post on

[2018-03-22 16:10] tzarebczan commented on #368
@jsigwart can we close this issue?

[2018-03-22 16:51] jsigwart commented on #368
Yes, please close.

[2018-03-22 16:51] #368 closed

[2018-03-23 08:08] MrFatoni opened #463 "XSS"
XSS Found at https://lbry.io/youtube/status/blabla&?error=true&error_message=XSSCODE

or file /controller/action/AcquisitionActions.class.php
line 35 and 54

[2018-03-23 10:50] maximest-pierre commented on #463
For reference, these are the two lines of codes.
[code]

[code]

[2018-03-23 11:03] maximest-pierre opened #465 "youtube edit page is shown even if the token is invalid"
We should redirect to another page(/youtube) with an error message when the token is invalid. Right now the user lands on /youtube/status but with everything field blank.

[2018-03-23 12:12] #463 closed

[2018-03-23 14:12] kauffj commented on #465
Yes, please go ahead and fix this :)

[2018-03-23 15:06] tzarebczan commented on #463
@MrFatoni thanks for finding this, please see https://lbry.io/faq/tips

[2018-03-25 19:00] #465 closed

[2018-03-27 16:51] #331 closed

[2018-03-27 19:03] IGassmann opened #478 "Site takes 5-7 seconds to load if AdBlocker EasyPrivacy list is enabled"
If the list [EasyPrivacy](https://easylist.to/) is enabled on the user browser AdBlock (Adblock Plus, AdBlock or uBlock Origin) the website takes about 5-7 seconds to load any page.

[2018-03-27 19:49] maximest-pierre commented on #427
Closing this I haven't seen anybody else have this problem. If someone stumbles on this issue and has this problem you can leave a comment.

[2018-03-27 19:49] #427 closed

[2018-03-27 19:53] maximest-pierre commented on #478
This is probably caused by the facebook analytic and Google analytics.

[2018-03-27 23:37] maximest-pierre opened #479 "404 on youtube/status when there is no token"
when visiting the /youtube/status page the user gets a 404 not found. The correct behaviour will be if the user has a youtube_token in the local storage redirect the user to the youtube/status page if not redirect to /youtube.

[2018-03-28 19:17] #479 closed

[2018-03-30 07:27] Smurphonomics commented on #402
This is probably old news now, but... All 404 are found in Google Search Console. under Crawl Errors. :)

[2018-04-02 20:33] kauffj opened #499 "Add consistent URL for LBRY Android build artifact"
LBRY Android binaries should have consist URLs similar to app releases.

See: https://github.com/lbryio/lbry.io/blob/master/controller/Controller.class.php#L179

Discuss with @akinwale and possibly @IGassmann how and where these will end up.

[2018-04-02 20:48] kauffj opened #500 "Add basic integration tests on deployment"
Check the top 10 pages and ensure they 200 before deploying

[2018-04-04 20:07] tzarebczan opened #504 "case insensitive URLs"
Thanks to @Smurphonomics for pointing this out: Our URLs should be case insensitive: https://lbry.io/news/lbry-development-community-update-mar-2018 works but https://lbry.io/news/lbry-development-community-update-Mar-2018 does not.

Might be useful:
https://stackoverflow.com/questions/18415508/how-to-make-url-case-insensitive-with-nginx

[2018-04-16 19:50] Feanor78 opened #507 "Redesign/improve home page to give site a more modern/contemporary look"
Redesign the front page of the website to give more visually interesting, modern feel to the site. Change the front page CTA from "download LBRY" to another ask around signing up for development updates, Android, android testing, sign up for updates about new versions, etc.

Bring website in line with visual identity of the app redesign so we're on brand in terms of colors, visual assets, etc.

[2018-04-16 19:54] Feanor78 opened #508 "Consider moving website to a more traditional CMS"
While Github is great, a more traditional CMS like WordPress, SquareSpace, Weebly, Magento, etc. can give us more flexibility when creating landing pages, better control of forms, and ready-to-go integrations and formatting to make blogs and other content types look professional and sleek.

[2018-04-18 10:33] DiSae opened #509 "Video playing on https://lbry.io/get doesn't feel right"
The video playing when browsing to https://lbry.io/get is called 'It's a disaster'.
I don't want to think that LBRY is a disaster, please choose another video.

[2018-04-18 11:36] Smurphonomics commented on #509
Good find. These things do get **subliminally** locked in peoples **subconscious** and can affect their feelings about a product.

Big companies use this in a positive way to sell a product and I also use the technique in my work.

This was obviously not planned but is an important issue that could do with some love <3

![image](https://user-images.githubusercontent.com/29914179/38929654-5fcf7448-

[2018-04-18 12:26] maximest-pierre commented on #509
This is the line of code that handles that particular gif.
https://github.com/lbryio/lbry.io/blob/master/view/template/download/get.php#L47

Feel free to suggest another gif and change it.

Also, it needs to be changed to represent the latest version of the app.

[2018-04-18 12:28] tzarebczan commented on #509
We'll be updating when the redesign is launched.

It's a Disaster was one of the first major movies released on LBRY, which is why it is showcased on the GIF.

[2018-04-18 17:18] kauffj opened #510 "Refactor API forms to be more DRY and development friendly"

[2018-04-18 17:22] kauffj opened #511 "wrong repo --- edited"
wrong repo (opened a new issue in the right one)

[2018-04-18 17:24] maximest-pierre commented on #510
Issue moved to [lbryio/api-forms #18](https://github.com/lbryio/api-forms/issues/18) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-18 17:24] #510 closed

[2018-04-18 17:24] lyoshenka commented on #510
Issue moved to [lbryio/api-forms #19](https://github.com/lbryio/api-forms/issues/19) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-18 23:05] #511 closed

[2018-04-19 18:45] IGassmann opened #512 "Create page for more information concerning DMCA complaints"
Have a page at https://lbry.io/faq/dmca that would give more details concerning DMCA complaints. The app would link this page when it reaches a blocked content.

[2018-04-19 18:52] tzarebczan commented on #512
We already have https://lbry.io/faq/content - can we just link there? Or break out the DMCA portion to a separate faq and have a link from /faq/content to it?

[2018-04-20 03:11] kcseb opened #515 "Typo on shop.lbry.io"
The Facebook footer URL for https://shop.lbry.io/ does not include .com
![hua5b](https://user-images.githubusercontent.com/26828446/39028877-09500448-4427-11e8-82da-d5357dcd3f9e.png)

[2018-04-20 03:49] jsigwart commented on #515
This has been fixed.

[2018-04-20 03:49] #515 closed

[2018-04-24 16:04] kauffj opened #517 "Add CORS header that allows DMCA posts from outside lbry.io"
To solve: https://github.com/lbryio/lbry-app/issues/909#issuecomment-382614043

Please update linked issue when closing this one.

[2018-04-24 16:08] maximest-pierre opened #518 "Add pre-commit hook for php formating tool"
Add pre-commit hook for PHP-CS-Fixer.

Examples: https://github.com/digitalpulp/pre-commit-php

[2018-04-25 20:47] kauffj opened #519 "Join Us 2.0"
This is a set of modifications to create the next iteration of our hiring page.

- [x] Create a partial, `view/content/_jobs.php`. Include this partial from the `join-us.php` page.
- [x] `_jobs.php` should render all of the jobs listed as markdown files in `content/jobs`. The layout should match the existing layout of the Join Us page with a few modifications listed below.
- [x] Jobs with a metada

[2018-04-26 03:40] Invariant-Change commented on #508
I totally agree. While SquareSpace, Weebly, Magento aren't the best solutions, WordPress is due to its large and amazing community. And it's a solid platform that most people are familiar with.

**WordPress** with **Divi** is the perfect solution. Very lightweight with built-in marketing tools and SEO options. It allows anyone to build unique and amazing looking landing pages in just a few minutes

[2018-04-26 03:45] Invariant-Change commented on #508
*I'm currently working on building a Divi React Module to utilise LBRY.

I see Divi and LBRY as a good pair that can work together in many situations.

[2018-04-27 11:52] DiSae commented on #369
Could the headquarters address or general contact info be added to the footer or anywhere more visible please?
The only page I could found the HQ address on the website is https://lbry.io/faq/contest-t-and-cs
Another possibility is adding it to the 'About the team' page.

[2018-04-27 17:44] tzarebczan commented on #512
TODO:
-  "Someone uploaded my content to LBRY without permission. How do I remove it?" - Change "remove" to "report" and move this question into /dmca article.

- /faq/content should continue to evolve into a more general FAQ about how LBRY handles content, particularly to explain what's different from status quo / traditional systems. It should focus less on the DMCA/takedown side of things and d

[2018-04-27 21:33] #519 closed

[2018-04-28 18:40] jsigwart opened #522 "Privacy Policy draft for review"
This is one document that is mandatory for #369. I'm proposing this draft and would like review:
[privacypolicydraft.pdf](https://github.com/lbryio/lbry.io/files/1958042/privacypolicydraft.pdf)

[2018-04-28 18:42] finer9 commented on #522
To me the text looks great, very much in line with every one I've seen.

I'd advise changing the very bottom part where it lists our corporate
name/address to LBRY INC rather than lbry.io so it is the proper legal
entity.

LBRY.IO at the top is fine because it is contextually relevant.

Thank you!

On Sat, Apr 28, 2018 at 2:40 PM, Julie Sigwart <notifications@github.com>
wrote:

--
Josh Finer
Dire

[2018-04-29 12:23] jamesbiller opened #523 "Add 3D file-viewing to LBRY desktop app"
Link to info & .js https://manu.ninja/webgl-3d-model-viewer-using-three-js/

Needs to operate like the 'Thingiview' in Thingiverse: https://www.thingiverse.com/thing:572581

[2018-04-29 19:46] tzarebczan commented on #523
Will move this over to the lbry-app repo. I could have sworn I had an issue open for this already, but I guess not.

[2018-04-29 19:47] #523 closed

[2018-04-29 19:47] tzarebczan commented on #523
Issue moved to [lbryio/lbry-app #1409](https://github.com/lbryio/lbry-app/issues/1409) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-30 14:08] IGassmann opened #526 "Document lbry.io copy contribution"

[2018-05-01 03:05] tzarebczan opened #527 "Make sure repo/install is up to new documentation guidelines"

[2018-05-01 18:15] DiSae opened #529 "Add search bar on website"
If possible, please add a search bar on the website.
The below link may help to start the coding.
https://stackoverflow.com/questions/21663842/adding-a-search-bar-in-my-website-with-php?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

![lbc search website](https://user-images.githubusercontent.com/31828724/39486398-42ce20c0-4d7c-11e8-98fb-f6622438c4f5.png)

[2018-05-01 23:38] tzarebczan opened #530 "Roadmap enhancements/fixes"
Discussed on Growth call today - https://lbry.io/roadmap

1) Items from Q1 still show as future, we may want to show these after the future items

2) the "other" tag looks like it's coming from the badge, which is the project name: https://github.com/lbryio/lbry.io/blob/b36b3fbc27b0c47883880794add97ce25e9c8f5d/lib/thirdparty/Asana.class.php#L46
-@kauffj - did we still want to assign projects in As

[2018-05-02 02:44] #517 closed

[2018-05-02 02:45] maximest-pierre commented on #517
This was merge in #525

[2018-05-02 13:35] ceoger opened #531 "lbry.io mobile version issue"
There is an issue on the mobile version of the website, at the very lower button, below the what's next, the Get LBRY button is separated, making the LBRY barely visible.
Url https://lbry.io/news/lbry-development-community-update-mar-2018

[2018-05-02 14:18] tzarebczan commented on #531
@ceoger thanks for filing this, sent you a few LBC on Discord :)

[2018-05-02 19:18] kauffj opened #532 "Unclosed tags in blog post"
Every blog post currently has a messed up footer. I strongly suspect this is caused by an unclosed tag.

Example: https://lbry.io/news/boombust

[2018-05-02 19:20] kauffj opened #533 "Add "LBRY is hiring" to blog footer and/or site footer"

[2018-05-03 16:09] #530 closed

[2018-05-05 02:16] #526 closed

[2018-05-07 13:04] #532 closed

[2018-05-07 16:55] ykris45 commented on #533
i will do it

[2018-05-07 19:37] ykris45 commented on #533
#542

[2018-05-07 21:11] tzarebczan commented on #512
Completed via https://github.com/lbryio/lbry.io/pull/534

[2018-05-07 21:11] #512 closed

[2018-05-07 21:13] tzarebczan commented on #529
Thanks for the suggestion, we'll see what we can do! Since we have a bunch of higher priority items at the moment, we may not get around to this immediately.

[2018-05-09 16:26] #258 closed

[2018-05-09 17:28] kauffj opened #547 "Notification / Email Changes"
1. Notification uniqueness should not be enforced at the database level.
2. Notifications should be stored for all emails sent.
3. Business-level logic should enforce whether or not a user can receive a notification/template twice.

[2018-05-11 05:32] jsigwart commented on #522
Added to the site, please review/proof: https://lbry.io/privacypolicy

[2018-05-14 18:17] tzarebczan commented on #533
This was added to the footer.

[2018-05-14 18:17] #533 closed

[2018-05-14 22:44] #518 closed

[2018-05-15 15:52] kauffj opened #556 "Drop case sensitivity in URLs"
lbry.io/reefermadness and lbry.io/ReeferMadness should both show the same page

Additionally, this ticket should not be considered complete without `rel=canonical` meta tag so that both count the same for SEO purposes.

[2018-05-15 15:57] tzarebczan commented on #504
Same as https://github.com/lbryio/lbry.io/issues/556 - will close this one as 556 as the conical URL mention.

[2018-05-15 15:57] #504 closed

[2018-05-15 15:59] tzarebczan commented on #527
Still need to run through install procedure to make sure we have all the steps documented.

[2018-05-15 16:29] tzarebczan commented on #527
When trying to run the site on a clean Ubuntu 17.04 machine after running `sudo apt-get install php`, I see the following:
[code]

When navigatint to localhost:8000 , I get : ```
exception 'Error' with message 'Class 'Leafo\ScssPhp\Compiler' not found' in /home/tom/Desktop/lbry.io/view/View.class.php:127
#0 /home/tom/Desktop/lbry.io/web/index.php(32): View::compileCss()
[code]

[2018-05-15 18:54] kauffj opened #557 "Logic for setting meta images should consider cover backgrounds"
Pages like lbry.io/reefer-madness should use the cover image as the `og:image` meta attribute by default

[2018-05-15 19:54] tzarebczan commented on #556
Related: https://github.com/lbryio/lbry.io/issues/350

[2018-05-15 19:55] tzarebczan commented on #316
@jsigwart assigning this one to you since you were working on privacy-related FAQs.

[2018-05-15 19:56] tzarebczan commented on #280
@kauffj should we close this as these docs will now live on lbry.tech?

[2018-05-15 20:32] kauffj commented on #280
I think this question still remains, but could now live in lbry.tech.

It's not clear that all technical documentation should live in the lbry.tech repo. In some cases, it may make sense for the documentation to live in the project repo and just be imported/displayed by lbry.tech.

[2018-05-15 20:48] #280 closed

[2018-05-15 20:48] tzarebczan commented on #280
Issue moved to [lbryio/lbry.tech #43](https://github.com/lbryio/lbry.tech/issues/43) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-16 17:20] #404 closed

[2018-05-16 17:27] kauffj opened #558 "User Email Management 2.0"

[2018-05-16 17:28] #558 closed

[2018-05-16 17:29] kauffj opened #559 "Allow confirmation of email via lbry.io directly"
A user should be able to confirm their email just by clicking a link, visiting lbry.io, and doing nothing else.

[2018-05-16 17:39] kauffj commented on #556
Be sure to not do this for URLs that include tokens. It's primarily for dynamic and fixed pages.

[2018-05-16 17:40] kauffj commented on #430
Where is the new/proper ToS?

[2018-05-16 18:16] maximest-pierre opened #561 "Add link to shop.lbry.io on the website"
One of the perfect place for it would be in the footer.

[2018-05-16 22:26] jsigwart opened #564 "UX changes for social media sharing links"
~~Allow folks to share lbry.io/news articles on social media with a button click. Twitter, Facebook, etc.~~ Social media links exist but are at the very bottom of the news article. Change this to make sharing links more obvious and that they are for sharing the article. I thought they were links to LBRY's social media accounts and never clicked them.

[2018-05-17 14:55] tzarebczan opened #565 "YouTube Sync: show reward claimed for current period"
![youtubesync](https://user-images.githubusercontent.com/8120721/40184965-82d68d3e-59bf-11e8-8df6-116be287ac0f.jpg)

Currently, the status page does not reflect that a Sync reward has been claimed as the last step never gets a green checkbox. Not sure if this should reset when they can earn the reward again.

In this case, we may also want to update the expected rewards portion - maybe give them t

[2018-05-18 14:21] kauffj opened #567 "Multiple YouTube campaign pages"
See [youtube_versions](https://github.com/lbryio/lbry.io/compare/youtube_versions?expand=1) branch and [this comment](https://lbryians.slack.com/archives/C2S7RQ9FZ/p1526653043000167) on internal chat.

[2018-05-18 17:04] tzarebczan commented on #522
@finer9 can we get a final review on the above :)

[2018-05-18 17:14] jsigwart commented on #430
Internal doc at this point, needs many details: https://docs.google.com/document/d/1QYUijDq9MKoRSci4HpSfIhCPQYoODcyS0SnK4orYTuk/edit?usp=sharing

[2018-05-18 17:44] finer9 commented on #522
Looks good, approved!

[2018-05-18 18:13] jsigwart commented on #522
I made some notes on the document. There are still some points that need to be addressed.

[2018-05-21 04:02] Invariant-Change opened #568 "Display Info About Each Component of the App"
The app [download page](https://lbry.io/get) should display info about each component of the app (see image)

App: [version]
Daemon: [version]
Wallet: [version]

![image](https://user-images.githubusercontent.com/29914179/40290067-34a1e2e2-5cff-11e8-9226-2ccfcb12b152.png)

[2018-05-22 14:16] tzarebczan commented on #564
@ykris45 didn't you work on a mockup for this?

[2018-05-22 14:18] ykris45 commented on #564
@tzarebczan not yet because render process of loaded all markdown on my computer look out of memory

[2018-05-22 14:20] tzarebczan commented on #568
@kauffj / @finer9 how do you feel about adding this? With lbryum being integrated into lbrynet, not sure we will need a separate line for that, but the daemon is a nice touch (we should probably call it something else, like Protocol version since most users won't know what daemon is).

Not sure we have an easy way to pull the daemon version from an app release, but I'm sure we can engineer somethi

[2018-05-22 14:23] Invariant-Change commented on #568
The other internal apps (Daemon and Wallet) could be hidden until a + sign is clicked, which would expand the area to show more detailed info.

[2018-05-22 14:30] Invariant-Change commented on #568
The reason I posted this, was because someone on Discord was asking why his Mac app wallet was out of date compared to the Windows version.

I couldn't find the versions to help him out, so thought to have them on the download page, would help in situations like that. However, if it's in release notes, that's just as helpful and would avoid the reduced downloads shown in the Split testing.

Turns

[2018-05-22 17:58] kauffj commented on #522
Ok, I finally read this. Here's my feedback:

- The biggest by far is that we need language to clarify how certain privacy aspects work when a user directly interacts with LBRY. Equivalent language will not likely be in other privacy policies. In particular, many network actions are observable by 3rd-parties that we cannot prevent from recording/tracking things (e.g. someone could record your IP a

[2018-05-22 20:52] finer9 opened #571 "Modify download button on main page"
Our experiment shows a statistically significant improvement in download rate for the button without metadata below.

I cannot remove the metadata directly because it is part of a button object that could affect other parts of the site.

[2018-05-22 21:19] kauffj commented on #571
@finer9 actually I believe you can do this. I believe the parameter is called `metadata`, but please check the code and/or my notes shared on slack.

[2018-05-23 16:37] #561 closed

[2018-05-23 17:42] #547 closed

[2018-05-23 17:42] kauffj commented on #547
Issue moved to [lbryio/internal-apis #349](https://github.com/lbryio/internal-apis/issues/349) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-24 00:22] DaniNz opened #572 "400 error in verification process with google"
On the [verification page](https://verify.lbry.io/index.php) in step 1 ( Link Your Social Networks), when I click on google it redirects me to a 400 error page.
![screenshot from 2018-05-23 20 39 50](https://user-images.githubusercontent.com/16692007/40457689-321ff042-5ece-11e8-9cb1-6236b83ffa83.png)

[2018-05-24 01:44] tzarebczan commented on #572
Thanks for filing this, I reached back out on Discord. We'll take a look at the Auth process.

I see you already have the contributing doc up 😂

[2018-05-24 13:57] tzarebczan commented on #572
This is now fixed, thanks again!

[2018-05-24 13:57] #572 closed

[2018-05-24 18:08] tzarebczan commented on #572
It only gets added once you verify with one of the social networks.

[2018-05-24 21:56] DaniNz commented on #572
Got it, works for me!

[2018-05-25 13:05] #567 closed

[2018-05-30 21:45] LavRadis opened #579 "Empty press kit .zip file"
The .zip file in https://lbry.io/press-kit is empty. Several people tested it and it contains no files.

[2018-05-30 21:54] maximest-pierre commented on #579
I just tried it on Ubuntu with chrome(65.0.3325.181) and Firefox (60.0.1) and the zip contains the correct files.

[2018-05-30 21:59] maximest-pierre commented on #579
It seems that the problem lies with open the zip with windows explorer

[2018-05-30 21:59] LavRadis commented on #579
It does not work on my Win10, kcSeb also cannot open it, and one other guy in discord. Looks like we all use Win 10.

[2018-05-30 22:01] LavRadis commented on #579
It works when I open it with WinRAR.

[2018-05-30 22:02] maximest-pierre commented on #579
I suspect its something with the encoding

[2018-05-31 00:05] #579 closed

[2018-05-31 13:02] nikooo777 opened #581 "Youtube onboard accepts underscores"
The youtube onboard program accepts underscores for the field "LBRY Channel ID" (which ideally should spell out Desired LBRY Channel Name).
This causes ytsync to fail because it can't publish claims with underscores. Please limit it with the right regex.

(this should be also limited in internal-apis)

[2018-05-31 13:31] tzarebczan opened #582 "Claim id not passed to Report DMCA page (also add DMCA faq)"
https://lbry.io/dmca?claim_id=0d1271a36d5e5754508c727b817d92c99e413759 - notice that the claim id s not passed as the content identifier.

Also, please add a "Learn more" link to https://lbry.io/faq/dmca

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without errors
-

[2018-05-31 19:16] tzarebczan commented on #527
@lyoshenka - do you know of anything we can do to automate this?

@maximest-pierre we should at least list the extensions that need to be installed, and let the user figure out how.

[2018-05-31 19:20] tzarebczan commented on #527
For me, the steps were:

sudo apt install php-curl
sudo apt install php-mbstring
sudo apt install php-xml

[2018-05-31 20:28] tzarebczan commented on #581
Fixed in https://github.com/lbryio/lbry.io/commit/bca2215faf8eb8b1a57a263d8f65c9e0534d7735 / https://github.com/lbryio/lbry.io/commit/1cc2ecb3b1e557c394e88fb211c677520c370688

[2018-05-31 20:28] #581 closed

[2018-05-31 20:29] tzarebczan commented on #402
Closing this. We went through one round and @jsigwart / @finer9 will be tracking monthly.

[2018-05-31 20:29] #402 closed

[2018-05-31 20:29] #403 closed

[2018-05-31 20:30] tzarebczan commented on #307
closed https://lbry.io/bounty/lbry-binding

[2018-05-31 20:30] #307 closed

[2018-06-03 00:02] maximest-pierre opened #589 "Update font awesome to allow new icons"
Currently, our version of font-awesome is old and doesn't support new icons like telegram. We need to update it to the latest version.

[2018-06-06 15:33] Krisseck opened #597 "Move the Optimize Page-Hiding Snippet to the head"
When I open any lbry.io page, I get the following effect:
- Top of the page loads normally
- Page changes to all white
- Page loads normally again

This happens in a span of 1-2 seconds, creating a flashing effect every time I change the page.

The issue is that the [Optimize Page-Hiding Script](https://developers.google.com/optimize/) you are using is at the bottom of the website, so it takes a w

[2018-06-06 20:51] kauffj commented on #597
@Krisseck I gave you write access to this repo.

The relevant files are:
- https://github.com/lbryio/lbry.io/blob/master/view/template/layout/basic.php (used by basically all pages on the website)
- https://github.com/lbryio/lbry.io/blob/master/view/template/layout/_analytics.php (included by layout.php and includes all JS analytics assets)

[2018-06-06 20:52] kauffj commented on #597
Commits to master will automatically deploy to the live site, no other deploy steps are required.

[2018-06-07 20:14] kauffj opened #602 "Use categories for community updates"
- Add `category: community-update` or similar to community update blog posts
- Link to `/news/category/<category>` in the updates rather than just `/news` so people can cleanly see past updates

[2018-06-09 18:56] iamuditpatel opened #607 "ssl error that "your connection to this site is not fully secure" (http:// to https://)"
file location:
content/news/161-nickatnyte.md

Note: https://lbry.io/news/nickatnyte giving ssl error that "your connection to this site is not fully secure" It's giving this error because this link is only http://berk.ninja/thumbnails/TW-sWnxiHrs so replace with  https://berk.ninja/thumbnails/TW-sWnxiHrs

`<video width="100%" controls poster="http://berk.ninja/thumbnails/TW-sWnxiHrs" src="https:/

[2018-06-09 18:58] tzarebczan commented on #607
Can you submit a pr to fix this?

[2018-06-10 01:41] Invariant-Change commented on #607
This should be done on the server "**Enforce HTTPS**" to catch any content that's not **https**, rather than trying to find things all the time, especailly when content comes in dynamically or when links are used in **blog** posts.

Not familiar with the LBRY set up but something like this:

[code]

Additionally, **Let's Encrypt**, have the following option in cPanel, There might be a similar opti

[2018-06-10 14:59] #597 closed

[2018-06-11 02:13] Invariant-Change opened #629 "Use The Full Date"
When searching the internet, it's common to find articles with no or incomplete **dates**.

These articles pose two problems. Often they get **ignored** because people think they might be reading old information and likewise if people read an **old** article, they might be **misinformed** and/or get **confused**.

Because of this, dates should also include the **year**.

This:
![image](https://use

[2018-06-11 07:46] Invariant-Change opened #630 "Metadata Incorrectly Utilised"
# META ISSUES

Some of the **metadata** on pages is not utilised correctly.

Using meta tags correctly is vital for **SEO** and **user-friendliness.**

In the below images, you can see how the **Title** and **Description** are **duplicated**.

This looks bad, degrades search positions and can harm **Brand Trust**. It is also is a **missed opportunity** to inform people of what the page is about an

[2018-06-11 14:45] kauffj commented on #629
Fixed - I'd rather cover international dates as part of proper internationalization

[2018-06-14 01:57] tzarebczan commented on #630
This feedback is awesome and will help LBRY grow its presence. This should be considered as part of @NetOperatorWibby 's redesign efforts...unless there is an immediate quick fix, then let's do it :)

[2018-06-14 02:00] tzarebczan commented on #629
@kauffj I don't see any commits for this, is it fixed?

[2018-06-14 02:42] Invariant-Change commented on #629
Just to add a little more context. yyy/yy/dd is also preferred over dates written in English, such as Jun or June, because they are understood better by non-English speaking countries.

[2018-06-14 14:11] kauffj commented on #629
Whoops, failed to push.

@Invariant-Change agreed but would rather do this as part of proper i18n

[2018-06-14 14:33] kauffj commented on #630
Change `Response::setMetaDescription` in `view/template/bounty/show.php` to fix this.

If we wait on redesign for this it won't come too fast.

[2018-06-14 15:54] Invariant-Change commented on #630
Where is the **metadata** being pulled from? If from the **MarkDown** as seen in the image, it's missing a **description** field, which would need to be added to each page.

[/blob/master/content/faq/bounties.md](https://github.com/lbryio/lbry.io/blob/master/content/faq/bounties.md)

Then could add `<?php Response::setMetaDescription($metadata['description']) ?>` to the templates.

[/blob/master/v

[2018-06-14 15:55] Invariant-Change commented on #629
See [Internationalization](https://github.com/lbryio/lbry.io/blob/master/content/bounty/app-i18n.md)

[2018-06-14 15:57] Invariant-Change commented on #629
See LBRY App [Internationalization](https://github.com/lbryio/lbry.io/blob/master/content/bounty/app-i18n.md) for related topic.

[2018-06-14 16:16] kauffj commented on #630
You could do something like
[code]

`$metadata` is also defined and available in the template if you want to build something more custom.

[2018-06-14 16:19] Invariant-Change commented on #630
Yeah, that looks cool. Will have a look at this tomorrow (Australian) morning with fresh eyes. All this being upside-down makes me dizzy, haha!

[2018-06-15 03:43] Invariant-Change opened #631 "Large Page Sizes Harming SEO and User Experience."
## SEO and User Experience

On various pages, images are being called in which are extremely **large**.

As an example, the [Team Page](https://lbry.io/team) is a whopping **12.3MB** in size. This is due to images being pulled in from [spee.ch](https://spee.ch/@lbryteam:6/josh-finer.jpg) that are **not** formatted for the web. The team images should be no more than **60kb** each, not **3mb**.

[Pa

[2018-06-15 13:48] kauffj commented on #631
Bleh :/

Probably going to wait for spee.ch editing to fix this.

I would say that page score over-estimates the problem, since it's just images loading the page is already rendering and interactable. Loading problems that prevent interaction are much worse in terms of bounces.

[2018-06-15 13:50] kauffj commented on #631
It looks like the especially large ones weren't even sized correctly in the first place.

[2018-06-15 14:07] Invariant-Change commented on #631
Easy fix - Do you want to make some resized, web-ready images to replace current ones?

[2018-06-15 14:38] Invariant-Change commented on #631
So that everything that links back to them still finds them? That makes sense.

[2018-06-16 22:20] ocornoc opened #639 "Misidentifying ChromeOS as MacOS"
On the homepage, my Chromebook is misidentified as having macOS as the operating system, where it should be Linux (in the case of someone using the popular https://github.com/dnschneid/crouton in order to have a usable Linux environment on ChromeOS).

![screenshot 2018-06-16 at 2 50 12 pm](https://user-images.githubusercontent.com/25855126/41502860-6f1acdd4-7178-11e8-9646-3f3c8dfa1e3a.png)

[2018-06-18 17:47] Invariant-Change commented on #350
## og:url still missing.

`Missing Properties: The following required properties are missing: og:url`
https://developers.facebook.com/tools/debug/sharing/?q=lbry.io

[2018-06-19 16:50] tzarebczan opened #644 "captcha not hidden after verifying"
Looks like some work was done here: https://github.com/lbryio/lbry.io/pull/323 but it still shows after verifying - goes back to captcha screen and shows that verification has expired.

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without errors
- [ ] Unit tests are

[2018-06-27 14:38] #589 closed

[2018-07-03 19:45] finer9 opened #662 "Changing when the Google conversion code loads on /youtube"
Currently the Google Ads conversion code loads after a successful sync on lbry.io/youtube - successful defined as the yt api credentials are accepted and we store the response data we need.

Recently we've received a lot of low-value youtube syncs - and each of these costs us money on Google AdWords.

My goal is to change the logic so that the conversion code loads ONLY after a sync of a channel w

[2018-07-05 15:19] tzarebczan commented on #509
The get page gif is now updated.

[2018-07-05 15:19] #509 closed

[2018-07-06 14:15] nikooo777 commented on #565
@kauffj who can we assign this to?

The API will provide `redeemed_reward` that can be used to solve this.
Sounds like a rather easy improvement.

[2018-07-06 15:19] kauffj commented on #565
@nikooo777 open a ticket on `lbry.io` and put it in the `Next Sprint` milestone.

[2018-07-06 16:14] nikooo777 commented on #565
let's use this issue then. it's already in lbry.io

[2018-07-09 14:31] heymattsokol commented on #564
At risk of being too simple, I think there's a very simple UX answer to this.

Using imgur today because Spee.ch is slow with the hard fork -- https://imgur.com/a/rctD69p

That is my proposed change to the design, with three different fonts to consider. On top of that, I propose that we include the share buttons on top AND bottom of the article, as that would cover both use cases (i.e. "This looks

[2018-07-12 19:10] tzarebczan commented on #602
This is completed, forgot to close!

[2018-07-12 19:10] #602 closed

[2018-07-12 20:01] kauffj opened #676 "Embed Tweets for all TipBot commands"
Update [this article](https://lbry.io/faq/tipbot-twitter) to include embedded tweets for all commands. The embedded tweets should not replace the commands, both should be shown.

[2018-07-12 20:01] kauffj commented on #676
@ykris45 good one for you?

[2018-07-12 20:09] ykris45 commented on #676
@kauffj i will do it . stay awake for this night sir

[2018-07-12 20:23] ykris45 commented on #676
@kauffj im done my boss

[2018-07-12 21:15] ykris45 commented on #676
@kauffj or @tzarebczan close close close...

[2018-07-12 21:57] #676 closed

[2018-07-12 21:57] tzarebczan commented on #676
Thanks again Chris, sent you a tip on Discord.

[2018-07-24 21:49] tzarebczan opened #684 "Support existing LBRY publisher on /youtube signup flow"
In order to support existing LBRY creators who migrate to YouTube Sync (non-public/internal api issue - https://github.com/lbryio/internal-apis/issues/471), we would need to capture additional data like their channel signing certificate (needs to be transferred/stored securely) and wallet address to start publishing their content automatically.

@alyssaoc we may want to create an epic (or turn thi

[2018-07-24 22:46] billbitt opened #685 "Implement "app download" twitter card when mobile app is ready"
@Feanor78 commented on [Wed Jul 18 2018](https://github.com/lbryio/spee.ch/issues/535)

Details here:
https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/app-card

---

@billbitt commented on [Tue Jul 24 2018](https://github.com/lbryio/spee.ch/issues/535#issuecomment-407560304)

great suggestion @Feanor78 !

---

@kauffj commented on [Tue Jul 24 2018](https://github.com/lbryi

[2018-07-27 19:01] NetOperatorWibby opened #690 "iOS bounty page doesn't exist..."
...but is referenced on `lbry.tech`.

### Issue on the .tech repo:
https://github.com/lbryio/lbry.tech/issues/126

### The Markdown file mentioning the bounty: (scroll to iOS Applications)
https://github.com/lbryio/lbry.tech/blob/master/documents/build.md

### Live link to page:
https://lbry.tech/build

[2018-07-29 20:06] tzarebczan commented on #337
Fixed by https://github.com/lbryio/lbry.io/pull/394

[2018-07-29 20:06] #337 closed

[2018-08-01 11:51] nikooo777 opened #694 "Several pages hotlink the API directly for youtube sync"
I dug up a list of templates and pages that should be fixed. They're likely the cause of faulty entries in the database.

[code]

the URL that should be used is `https://lbry.io/youtube`

[2018-08-01 14:28] kauffj commented on #694
@ykris45 want to update these files to link to lbry.io/youtube?

[2018-08-01 14:29] ykris45 commented on #694
@kauffj okay.  i will take a look for it.

[2018-08-01 17:20] tzarebczan commented on #690
Closing per https://github.com/lbryio/lbry.tech/issues/126#issuecomment-409258604

[2018-08-01 17:20] #690 closed

[2018-08-01 17:23] tzarebczan opened #696 "create wallet encryption FAQ"
This would be before the next release (0.24)

stub: https://lbry.io/faq/wallet-encryption

Mention
-importance of saving the password
-deleting old backups after encrypting
-how to unencrypt
-current flow (enter password on app startup)

[2018-08-02 13:06] #694 closed

[2018-08-06 14:00] jamesbiller opened #698 "Make top icons match bottom icons"
The icons that we have at the top of the lbry.io pages should match those that we have at the bottom on the lbry.io/get page.

<img width="652" alt="screen shot 2018-08-06 at 9 57 08 am" src="https://user-images.githubusercontent.com/38798392/43720946-82aabec2-995f-11e8-8ba2-34a4589012fc.png">

Those^

Should also be here:

![image](https://user-images.githubusercontent.com/38798392/43720963-8dbcc

[2018-08-06 14:28] jamesbiller opened #699 "Change lbry://wonderfullife caption or change image so that they match in "Art in the Internet Age" essay"
The caption doesn't match the new image, one needs to be changed so that they match.

<img width="905" alt="screen shot 2018-08-06 at 10 25 54 am" src="https://user-images.githubusercontent.com/38798392/43722482-5a37d0fc-9963-11e8-8dd5-5712fa6fdb34.png">

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the u

[2018-08-06 14:30] tzarebczan commented on #699
@jamesbiller want to make a new gif with that scenario, or something very similar?

[2018-08-06 16:48] kauffj commented on #699
I would keep the example as a well-known video

[2018-08-06 22:08] kauffj commented on #422
@NetOperatorWibby now that @tiger5226 has done the API work for this this a decent candidate to go near the top of the web list. Please catch up on this ticket and, if you see any issues with the proposed design, raise them ASAP.

[2018-08-06 22:15] NetOperatorWibby commented on #422
@kauffj What exactly is this issue referring to? I see no mailing list on the site. What is the URL users would hit to even see this information? Is this supposed to be for the app?

[2018-08-06 22:33] NetOperatorWibby commented on #422
Okay `/list/edit/{token}` confused me as a route that'd be on the site. Why not use something like `/subscription-settings/{token}`? It's more descriptive and to the point without (what seems like) unnecessary paths. Currently, it makes me think I'll see something else if I visit `/list`.

How would a user have multiple email addresses? Also, where is the unsubscribe link generated?

[2018-08-06 22:35] kauffj commented on #422
@NetOperatorWibby `/list/xxx` matches existing usage, but no strong opinions about naming here.

I believe a user can end up with multiple emails by authenticating multiple times on the same install/device id.

The unsubscribe link is generated by the internal-apis code. You should be able to see one in any emails you've received from us.

[2018-08-08 19:16] ykris45 commented on #698
i referenced issues no #703

[2018-08-09 15:16] alyssaoc commented on #430
@jsigwart is this in progress? What is the status?

[2018-08-09 16:00] tzarebczan commented on #698
@kauffj / @jsigwart do you recall if this was done on purpose? I think the original intent was to put the less important ones in the footer and keep the header clean. If not, then we can merge https://github.com/lbryio/lbry.io/pull/703

[2018-08-09 16:06] ykris45 commented on #698
@tzarebczan or should adding faq to header. most of website added faq to the header formake visitor easily to read that

[2018-08-10 04:01] jsigwart commented on #698
We should revisit this with lbry.io redesign and think about navigations and usability. We certainly don't want the top navigation getting too complex.

[2018-08-10 04:05] jsigwart commented on #430
Blocked, need input from exec level. Some parts in the ToS reference future features that have not been added to the app/protocol (and we don't necessarily know the details of how those features will be implemented).

[2018-08-10 13:36] kauffj commented on #430
I'm not convinced that a ToS is even necessary here. But this should be in @finer9 court.

[2018-08-10 13:38] ykris45 commented on #698
@kauffj what do you think if add FAQ to header Sir?

[2018-08-10 18:39] jsigwart commented on #430
@kauffj where would you think it would be appropriate? The app itself? Also LBRY.fund. What about how it applies to community contributions to our public repositories, including this one?

[2018-08-10 20:32] kauffj commented on #430
Whether it is literally a terms of service or not, I think there are some aspects of the LBRY protocol that are important for a publisher to be aware of before submitting a publish to a blockchain node. So I would support some kind of acknowledgement anywhere a publish can happen from.

I do not see a strong reason to put it anywhere else, but could be overlooking one.

[2018-08-11 14:08] jsigwart commented on #430
Spee.ch TOS should be done at the same time. Added issue https://github.com/lbryio/spee.ch/issues/571

[2018-08-11 16:27] jamesbiller commented on #698
@jsigwart I kinda like how Dfinity does the icons on the side and then at the bottom
<img width="1334" alt="screen shot 2018-08-11 at 12 26 23 pm" src="https://user-images.githubusercontent.com/38798392/43993860-ee1e321e-9d61-11e8-9ba1-1c84cdccd69a.png">
<img width="1348" alt="screen shot 2018-08-11 at 12 26 34 pm" src="https://user-images.githubusercontent.com/38798392/43993861-ee2b93fa-9d61-11e8

[2018-08-12 00:51] jsigwart commented on #698
We have a funny thing going on where sometimes the social media icons take you to our social media sites and other times (like on news pages), they're used to share the post on social media.

[2018-08-13 15:30] ykris45 commented on #698
@tzarebczan maybe the PR #703 should solve this issues. and i think its only temporary until redesign finished.

[2018-08-15 23:01] ykris45 commented on #531
#715

[2018-08-16 15:18] #321 closed

[2018-08-17 21:39] ykris45 commented on #531
@tzarebczan close close... hehehe.

[2018-08-17 21:53] #531 closed

[2018-08-22 18:49] alyssaoc commented on #430
@finer9 Can you please evaluate this issue please

[2018-08-22 19:49] jamesbiller opened #722 "Post to Social (FB, Insta, Twitter) August 22-29"
- [x] 8/22 3D Content: Library Icon Bookend
- [x] 8/22 Other: Grin pic
- [x] 8/23 3D Content: Crypto Keychains
- [x] 8/23 Other: Josh laptop pic, LBRY Cast
- [ ] 8/24 3D Content: Greg's Chess Sets
- [ ] 8/24 Other: Tom/Niko + Spee.ch graphic
- [ ] 8/25 3D Content:
- [ ] 8/25 Other:
- [ ] 8/26 3D Content:
- [ ] 8/26 Other:
- [ ] 8/27 3D Content:
- [ ] 8/27 Other:
- [ ] 8/28 3D Content:
- [ ] 8/28 O

[2018-08-22 22:19] kauffj opened #723 "Quicker full unsub from new email management page"
The new email management page at `/list/edit/{foo}` is much better, but it lacks a way for someone to quickly never receive a message again. It's important that we still support this while still encouraging users to opt out of messages they no longer want to receive.

[2018-08-23 20:52] alyssaoc opened #725 "lbry-frontpage"
# LBRY Frontpage Proposal

## Motivation
* Content is not currently indexed by Google, this makes it hard for people that don't know about LBRY to ever find anything on LBRY.
* Google is the first place people go to look up "things". If one hears about news, products, interesting videos, facts.... the first thing they'll do is search on google for what are called "keywords". Top keywords are calle

[2018-08-24 13:20] ykris45 opened #727 "Add social share icon for LBRY FAQ"
currently LBRY Have social share button on the news section. would be nice this feature available on FAQ Section. because if another user ask on twitter and facebook or whatsapp messager about how to solve issues on LBRY App instead . user can share the FAQ Article via the share button

[2018-08-25 15:33] tiger5226 commented on #723
@kauffj Is this really a required issue for email management 2.0? Most users only have 1 email address and clicking the toggle for receiving email accomplishes this for all users that have 1 email address. If they have 2, then its two toggles.

[2018-08-27 15:55] jamesbiller opened #730 "Decide where links to pages should live."
We need to systematize links to things like YouTube Sync, 3D printing, and any other pages.

I was thinking it might be helpful to have drop down menus.

[2018-08-27 20:06] tzarebczan commented on #727
Good idea, but it's also fairly easy to share from the URL. I don't see many people sharing directly to social media from a FAQ article.

[2018-08-29 01:53] robvsmith commented on #725
Something like this could be the focal point of the future .io redesign, whatever format that finally takes.

[2018-08-29 04:53] jsigwart commented on #725
Assuming we can put this anywhere we want on the LBRY.io, where is the most logical place? When you say "front page," that has a very specific definition - basically the home page. Do we want this content on the home page, or on a subpage within lbry.io? Or do we want it on another site entirely, like our community hub? Where does a user go after they click on one of the links on the page? Does it

[2018-08-29 15:10] #696 closed

[2018-08-29 15:17] kauffj commented on #725
I will catch up on this, but my initial comment is:

We're currently pursuing a web-based version of the desktop app. If that exists, does this still exist independently?

[2018-08-29 20:40] nikooo777 commented on #725
I believe it can coexist;
I also believe this project should be standalone whether we want to put it on lbry.io or a new domain or whatever.
Such project could very well be used for the web-based lbry app.

@jsigwart

I'd go for a subdomain or even its own domain. Anyone should be able to pull up their own frontpage with their own desired settings

preferably on the app, but since we can't expect

[2018-08-30 05:43] jsigwart commented on #725
If there is a web-based version of the desktop app, then as long as it is constructed so the content can be crawled and indexed, then it probably wouldn't be necessary. In order for content to be crawled, it has to be linked from *somewhere* or else Google won't discover it. And Google Sitemaps would not be a practical solution. SEO optimization will be a bit part of web-based version of LBRY app.

[2018-08-30 14:04] ykris45 opened #736 "Make categories selector for news page"
currently LBRY website has categories selector of FAQ Page. like my screenshot in below
![image](https://user-images.githubusercontent.com/26609573/44856340-60456580-ac97-11e8-8e14-ef06b2bf90ea.png)
this shows that the FAQ page is neater. would be nice if the news page have categories selector like FAQ Page. to be neat. and make it easier for visitors to choose which articles or categories they wi

[2018-08-30 14:08] tzarebczan commented on #736
Probably one to look at during the lbry.io redesign.

[2018-08-31 01:46] real-rouse opened #738 "YouTube Sync first Impression is not clear that it is about Youtube."
I wrote something in Discord.
See the image:
<img width="737" alt="screen shot 2018-08-31 at 03 43 46" src="https://user-images.githubusercontent.com/30915240/44888261-6ad02100-acd0-11e8-8fea-cdce0a3c544d.png">

[2018-09-04 16:41] kauffj commented on #738
@robvsmith please revise this copy if you agree or close this if you do not

[2018-09-04 16:43] ykris45 commented on #738
i will wait until Mr Rob revise this issues. after it was accepted . i'll fix  this issue

[2018-09-06 13:29] robvsmith commented on #738
I will write some new copy for this. Probably not this week, but I do intend to fix this. The whole site, arguably, needs a copy revision - and this would likely be a good place to start.

[2018-09-08 00:26] tiger5226 opened #750 "Elegant Handling of expired token"
The auth token sent via email for email management is a scoped token and has an expiration. The api will return a 403 response:

The UI should catch this code and present a modified error message for elegant handling.

[2018-09-08 00:34] tiger5226 opened #751 "Subscription & Reward tags need description"
<img width="792" alt="screen shot 2018-09-07 at 8 32 23 pm" src="https://user-images.githubusercontent.com/3402064/45248324-6235a700-b2dd-11e8-869b-a16c724df8cd.png">

[2018-09-08 00:45] tiger5226 commented on #723
As an FYI this can be achieved by calling the api n times once for each email.

`/user/email/edit?email=<email>&auth_token=<token>&is_enabled=<true/false>`

The above allows a user to unsubscribe from all emails for the email address. Most users should have just 1 email but to make it easier for users with multiple emails, we can just add a button that handles this process for 1 or n emails.

@kau

[2018-09-12 21:52] kauffj commented on #723
@tiger5226 can you fix the JS bug we found and @NetOperatorWibby can handle any remaining style changes?

[2018-09-13 01:59] NetOperatorWibby commented on #723
Just let me know when you’re done @tiger5226!

[2018-09-13 13:04] #662 closed

[2018-09-13 16:00] tiger5226 opened #757 "mutli-email management not supported"
Noticed with Jeremy that you cannot submit changes to multiple email addresses at a time

https://lbry.io/list/edit/<token>

If you modify both emails ( toggle opposite ), it will only stick for 1 of them. It should stick for all of them when you manually refresh the page.

[2018-09-13 18:35] tiger5226 commented on #751
solved with lbryio/lbry.io#759

merged and deployed

[2018-09-13 18:35] #751 closed

[2018-09-13 18:35] tiger5226 commented on #757
solved with https://github.com/lbryio/lbry.io/pull/758

merged and deployed

[2018-09-13 18:35] #757 closed

[2018-09-13 18:57] tiger5226 commented on #750
Current behavior is

<img width="793" alt="screen shot 2018-09-13 at 2 57 20 pm" src="https://user-images.githubusercontent.com/3402064/45509374-5f1b3a80-b765-11e8-99d8-6e8cf13426a7.png">

[2018-09-16 01:15] tiger5226 commented on #723
@NetOperatorWibby It is all yours! It has been merged in.

[2018-09-17 17:31] tzarebczan opened #765 ""Magic link" page needs better how-to for Android"
@LavRadis commented on [Mon Sep 17 2018](https://github.com/lbryio/lbry-android/issues/300)

## The Issue

"Magic link" confirmation link makes Android offer to open LBRY app OR Coinomi (since the also registered for lbry://). The page needs a better how-to explanation for the new user to reduce confusion and number of people who will choose to open with Coinomi.

---

@tzarebczan commented on [Mo

[2018-09-17 17:38] kauffj commented on #765
Why is coinomi registering as a schema handler for `lbry://`?

[2018-09-17 17:38] kauffj commented on #765
There is at least an Android issue here as well, in that it should notify on open and install if another app has `lbry://`

[2018-09-17 17:54] tzarebczan commented on #765
Looks like they do this to support payments for other coins as well: https://github.com/Coinomi/coinomi-android/blob/master/core/src/main/java/com/coinomi/core/uri/CoinURI.java

Will re-open the Android issue to discuss your last point. Maybe it can prompt the LBRY to make it default for lbry://

[2018-09-17 18:41] ykris45 opened #768 "Create FAQ for LBRY Android Basic Guide"
currently LBRY Inc Has LBRY Basics FAQ for LBRY Desktop App version, would be nice if LBRY have separate FAQ For Android Users

[2018-09-19 00:39] tiger5226 commented on #750
merged and deployed

[2018-09-19 00:39] #750 closed

[2018-09-19 02:10] tzarebczan opened #778 "Allow user to enter new email on email management page"
As a user visiting my email management page, I may want to add additional emails (new or existing ones I intend to merge together). This should call our api via `https://api.lbry.io/user_email/new?auth_token=xxxxxxxxxxxxxxx&email=xxxxxxxxxxxxxxx&send_verification_email=true`. If the email is in use, it will 500, and then you call ```https://api.lbry.io/user_email/resend_token```

After the email i

[2018-09-19 02:16] tiger5226 commented on #778
It needs to wait until the email is confirmed before refreshing because if that email is tied to another account, the verification will merge the two accounts and only then will the email be tied to this user.

Unless @kauffj knows a good way to do this with php, we can just post a success message with something along the following lines "Thank you for adding a new email address. We have sent you

[2018-09-19 16:47] Feanor78 opened #779 "Update photo on LBRY.io/team"
Update the banner photo on the Team page

[2018-09-19 16:52] kauffj commented on #779
Needs to be updated in two places:

https://github.com/lbryio/lbry.io/blob/master/view/template/page/team.php#L6
https://github.com/lbryio/lbry.io/blob/master/view/template/page/team.php#L2 (when embedded)

Please replace with a spee.ch URL when updating

[2018-09-19 17:07] nikooo777 opened #780 "add support for channel wide fees"
https://lbry.io/youtube/status/TOKENHERE should support setting fees.

we need 3 new fields:

- fee amount
- fee currency (LBC or USD)
- fee address (address to which the fees should go)

discussion needed: fee address would basically be coming from the lbry app thus incentivizing publishers to have a wallet and the app running before they have ownership and control over their channel.... which mi

[2018-09-19 18:43] kauffj commented on #778
@tiger5226 couldn't the API return whether or not the email is attached to an account? Specifically requiring verification to associate is a corner-case.

[2018-09-19 18:57] #722 closed

[2018-09-19 23:10] tiger5226 commented on #778
Yes, we could return a 202 status code which means

This could be returned if we have to send out a verified to complete the addition of the email to the user account. Then in the UI we catch the 202 and specialize a user friendly message asking them to please verify the email. Would that be acceptable?

[2018-09-20 13:05] tzarebczan opened #784 "Not clear that a user must click Save to edit email preferences"
It may not be clear to everyone that they need to click save after changing email preferences on https://lbry.io/list/edit/xxxxxxx, especially on mobile since the save button will be off of the screen.

Quick solution: after a value is changed, alert the user that they must click save?

[2018-09-21 13:27] tzarebczan commented on #778
Realized that this won't be possible without https://github.com/lbryio/lbry.io/issues/559 since the user will need to verify the email, which currently forces them to pass verification to either the desktop or mobile app.

@alyssaoc should we create a separate email 3.0 epic with these changes, including the app/android side tickets to monitor for web verification instead of expecting it to be pas

[2018-09-21 14:04] tzarebczan commented on #779
@Feanor78 / @jsigwart can you find a good team photo it can be updated with?

[2018-09-21 20:17] #765 closed

[2018-09-21 20:30] kauffj commented on #784
Tackled in #773

[2018-09-24 19:10] #779 closed

[2018-09-24 19:31] kauffj opened #795 "Banner or other notification/element for visitors from lbry.tech"
When a lbry.tech visitor clicks the lbry.io link, we should have an element that directs them back to lbry.tech and explains where they are.

[2018-09-24 19:35] #723 closed

[2018-09-25 01:16] alyssaoc commented on #768
@ykris45 thank you, this is already in progress

[2018-09-25 01:16] #768 closed

[2018-09-25 14:45] #784 closed

[2018-09-26 15:11] alyssaoc commented on #522
@jsigwart and @finer9 Where are we with this? Can we link to it from speech?

[2018-09-26 17:13] jsigwart commented on #522
You download the app from lbry.io, so would it be included in lbry.io ToS? But we should have a popup ToS in the app, too....

[2018-09-26 17:59] alyssaoc commented on #698
closing, the redesign will fix this

[2018-09-26 17:59] #698 closed

[2018-09-26 18:04] finer9 commented on #522
Pretty common to have a PP and ToS for the site, and a separate for the app.  Not really sure lbry.io needs a ToS so much as spee.ch

[2018-10-03 18:57] finer9 commented on #430
[LBRY Terms of Service.DOCX](https://github.com/lbryio/lbry.io/files/2443394/LBRY.Terms.of.Service.DOCX)

[2018-10-04 14:15] finer9 commented on #430
Here is the plan, please comment @kauffj @jsigwart

1. I will go through the DOC from Perkins and see how many blanks I can answer
2. I will identify the questions requiring more input and first come to @kauffj
3. If there are questions requiring it, I will loop in Perkins
4. When complete, this should work for both the lbry app and spee.ch - since they serve similar functions
5. It is possible we

[2018-10-06 03:52] faraicelebr8 opened #808 "Typo found"
I would like to report a typo on your latest article: "Development Update Aug/Sept 2018" by Tom Zarebczan posted on Oct 5 2018.  https://lbry.io/news/sept-dev-update

The typo is found in the second sentence of the opening paragraph where the word "**begging**" was used instead of "**beginning**" - see  below:

[2018-10-06 03:54] tzarebczan commented on #808
Feel free to submit a pr to fix it and you can earn some LBRY!

[2018-10-06 04:00] ykris45 commented on #808
@faraicelebr8 https://github.com/lbryio/lbry.io/edit/master/content/news/187-sept-dev-update.md please submit a PR on this link

[2018-10-06 11:06] jasoncarle commented on #808
Hi guys, I've just submitted a PR for the typo fix:
https://github.com/lbryio/lbry.io/pull/809

cheers

[2018-10-06 15:57] #808 closed

[2018-10-09 07:58] gilbertoesp opened #811 "Typo in FAQ Basics"
lbry.io/content/faq/lbry-basics.md under fisrts images, there is a markdown typo, in the link

[2018-10-09 12:33] tzarebczan commented on #811
Where exactly is it? Feel free to submit a pr to fix it.

[2018-10-09 12:36] ykris45 commented on #811
#812 i fixed it

[2018-10-09 13:15] tzarebczan commented on #811
Fixed in https://github.com/lbryio/lbry.io/pull/812.

Thanks for the heads up @gilbertoesp !

[2018-10-09 13:15] #811 closed

[2018-10-10 18:21] alyssaoc opened #816 "Determine where to drive helpdesk contact info from"
@tzarebczan commented on [Wed Sep 12 2018](https://github.com/lbryio/growth/issues/85)

Possibly add to email footer
Is it on the lbry.io website footer?

---

@jsigwart commented on [Wed Sep 12 2018](https://github.com/lbryio/growth/issues/85#issuecomment-420673297)

Maybe we should think about creating a set of universal info we want in all footers on all LBRY properties? The multiple small requ

[2018-10-11 15:02] #422 closed

[2018-10-11 15:16] kauffj commented on #725
I don't want to lose this ticket since there's good discussion here, but I think Andrey's project will deliver this. Where should this go @alyssaoc ?

[2018-10-11 21:35] #795 closed

[2018-10-11 22:34] alyssaoc commented on #630
@Invariant-Change Were you able to make any progress with this? Thank you

[2018-10-11 22:36] alyssaoc commented on #564
@NetOperatorWibby Can you take a look at this solution and see what you think?

[2018-10-12 02:20] tzarebczan opened #819 "Remove quickstart"
/quickstart will be redirected to lbry.tech/playground

[2018-10-12 04:28] finer9 commented on #522
I will circle back to this once our ToS is in place - that has a higher priority

[2018-10-12 15:03] NetOperatorWibby commented on #564
@heymattsokol The first option works.

[2018-10-14 09:48] ykris45 commented on #819
i will do it . i think its so easy based on my experience.

[2018-10-15 19:30] alyssaoc opened #822 "Implement more options when reporting illegal content."
@real-rouse commented on [Wed Feb 07 2018](https://github.com/lbryio/lbry-desktop/issues/1001)

I can see there is more illegal/copyrighted material being published to LBRY lately.
[A movie copyrighted by Universial Pictures](https://spee.ch/a353dbac2555f7d4565f9131562289c81b644633/Screen-Shot-2018-02-07-at-121041)

See https://explorer.lbry.io/claims for the latest claims.

What if there was more

[2018-10-18 15:08] alyssaoc commented on #639
closing, tested and this is not longer an issue

[2018-10-18 15:08] #639 closed

[2018-10-18 15:44] alyssaoc commented on #529
closing, we will not be adding search

[2018-10-18 15:44] #529 closed

[2018-10-18 19:53] #684 closed

[2018-10-18 19:53] alyssaoc commented on #684
Issue moved to [lbryio/ytsync #1](https://github.com/lbryio/ytsync/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-18 19:55] alyssaoc commented on #685
@robvsmith Is this something we could add to the twitter outreach? What would we need?

[2018-10-18 19:57] alyssaoc commented on #631
Closing, no longer an issue. page loads quickly

[2018-10-18 20:07] alyssaoc commented on #564
closing will consider this as part of a larger redesign

[2018-10-18 20:07] #564 closed

[2018-10-18 20:12] alyssaoc commented on #478
closing, this is no longer an issue. repopen if necessary

[2018-10-18 20:12] #478 closed

[2018-10-18 20:13] alyssaoc commented on #405
closing, will consider as part of the larger redesign

[2018-10-18 20:13] #405 closed

[2018-10-18 20:15] alyssaoc commented on #499
@akinwale Has this been addressed? Can it be closed?

[2018-10-18 20:16] alyssaoc commented on #507
closing, will consider as part of the larger design

[2018-10-18 20:16] #507 closed

[2018-10-18 20:17] alyssaoc commented on #527
closing, will consider as part of the redesign

[2018-10-18 20:17] #527 closed

[2018-10-18 20:35] alyssaoc commented on #557
closing, will consider as part of the redesign

[2018-10-18 20:35] #557 closed

[2018-10-18 20:45] alyssaoc commented on #819
closing this has been redirected

[2018-10-18 20:45] #819 closed

[2018-10-18 20:46] alyssaoc commented on #730
closing, this will be considered as part of the redesign

[2018-10-18 20:46] #730 closed

[2018-10-20 16:06] tiger5226 opened #842 "adjust deprecated APIs"
https://github.com/lbryio/lbry.io/pull/841

[2018-10-20 21:43] tiger5226 commented on #842
merged and deployed

[2018-10-20 21:43] #842 closed

[2018-10-22 19:49] kauffj opened #854 "Generate analytics IDs server-side"
For any 3rd-party platforms that we use to generate users or need analytics from, we should switch to server-side generation of IDs.

- [GA](https://support.google.com/analytics/answer/3123666)
- [FB](https://developers.facebook.com/docs/analytics/properties#js)

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against

[2018-10-22 19:50] kauffj opened #855 "Pass analytics IDs to internal analytics"
After completion of #854, server-side analytics IDs need to be passed to our internal analytics.

More details on endpoints [here](https://github.com/lbryio/internal-apis/issues/622).

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without errors
- [

[2018-10-29 23:44] tzarebczan commented on #631
This is still an issue as the spee.ch assets are really large and pages take a while to load on slower connections. I think the fix is to edit the spee.ch assets with optimized ones once we have that functionality in place in prod spee.ch

[2018-10-30 13:10] kauffj commented on #631
Marked the dependency. Once https://github.com/lbryio/spee.ch/issues/482 is fixed, can you resize these @tzarebczan?

[2018-10-30 19:05] finer9 commented on #430
@kauffj it would be great if you could address the highlighted sections and we could get something in place at least. I can try and do another round of edits after you comment. Alternative is back to Perkins

[2018-11-01 15:31] #780 closed

[2018-11-01 17:53] kauffj commented on #430
Google doc reviewed.

[2018-11-06 21:29] kauffj opened #871 "Support dynamic URL routing to releases for all GitHub repos"
lbry.io provides stable URLs to the latest releases of the desktop browser via GitHub, e.g. https://lbry.io/get/lbry.deb

This logic should be modified so that we can support additional repos. A possible structure is:

`lbry.io/release/:repo:.:ext:`

The relevant code is:

- https://github.com/lbryio/lbry.io/blob/master/lib/thirdparty/Github.class.php
- https://github.com/lbryio/lbry.io/blob/maste

[2018-11-07 18:37] finer9 commented on #430
This is back to me and I will have a TOS for both speech and the library app soon.

[2018-11-08 03:39] tiger5226 opened #873 "New tag comments-waitlist needs description and pretty name"
The email management page needs to have a description added for a few tags, or the tags not not be made public.

<img width="792" alt="screen shot 2018-11-07 at 10 39 16 pm" src="https://user-images.githubusercontent.com/3402064/48176448-089e2880-e2de-11e8-8e1d-9f21d4053fb9.png">

[2018-11-08 03:58] tzarebczan commented on #873
Didn't we agree new tags won't be public? I'll make sure this is filed. But I'm pretty sure comments-waitlist was set to non public.

@kauffj, do we want users to be able to unsub from the comments waitlist?

[2018-11-08 04:00] tiger5226 commented on #873
Maybe, but I did not make any changes. The real solution is to adjust the user interface to allow people to set these fields. I created an PR for our APIs to make sure the default behavior is to make new tags not public and not user addable.

[2018-11-08 04:04] tiger5226 commented on #873
It was, but I made it public because @seanyesmunt needs this tag manageable from the edit API. In order for it to be manageable it needs to be a public tag.

[2018-11-08 16:23] alyssaoc commented on #631
@Feanor78 We can talk about the path forward here

[2018-11-08 18:11] kauffj commented on #873
I just (crudely) made it stop rendering tags without descriptions (https://github.com/lbryio/lbry.io/commit/bc1dbacf75b2b63dffe99eaa2ddbd975656f1400).

@lbryio/growth members, public tags will no longer show up on editing email unless descriptions have explicitly been set in the website codebase

@tiger5226 could you file a tag in internal-apis to make relevant tag and api-forms changes so that th

[2018-11-08 20:16] tiger5226 commented on #873
Will do

[2018-11-09 16:08] kauffj commented on #873
I'm closing this, since I don't think we actually want this tag visible.

[2018-11-09 16:08] #873 closed

[2018-11-12 14:39] finer9 commented on #430
Made a bunch of updates, this is now 80% done pending a discussion with @kauffj

[2018-11-14 15:41] finer9 commented on #522
Attached is the Privacy Policy I'd like to use for lbry.io.  This is not the privacy policy for the app.  We should also be able to use it as the privacy policy for spee.ch.  The ToS is separate and covers more blockchain specific issues.
[privacy-policy.txt](https://github.com/lbryio/lbry.io/files/2581421/privacy-policy.txt)

this should live at https://lbry.io/privacy-policy

[2018-11-14 18:31] jsigwart commented on #522
Can I use this privacy policy for .fund, too?

[2018-11-14 18:40] finer9 commented on #522
Yes

On Wed, Nov 14, 2018, 1:32 PM Julie Sigwart <notifications@github.com wrote:

[2018-11-16 22:03] kauffj commented on #854
1) This question prompted me to consider if it would make sense to just have internal-apis do this, since that'd ease using it across our web properties. The site doesn't really have a data model currently or a concept of a user, which is where I'd typically be inclined to put it. `Session`  is probably closed.

2) Yes, that is the template that would be changed to modify the way we pass the new a

[2018-11-18 15:04] tiger5226 commented on #854
Jeremy I started working on the PHP side of the web visitor logging last night. It wound up being really simple. So simple it makes me question whether I was doing it right. I pushed a branch but I would like you to take a quick look. The easy solution was to use the session_id generated by the session class already and push those to google analytics and facebook pixel. Then for each page access i

[2018-11-18 15:13] tiger5226 commented on #854
A few things I could not do last night. I wanted to test that the `ga` and `fbq` calls worked. I trace the code and found the config setup for the site and adjust the `IS_PROD` config parameter but it would not work. I also adjusted the PHP if/else to be `true` and it still did not do it. I was check the page source to see if the javascript was written to the bottom of the page and it was still th

[2018-11-18 16:18] tiger5226 opened #887 "Remove Tag Hardcoded display names and descriptions"
The presentation of tags for the email settings page should no longer be hard coded. The `/tag/list` api call should contain `display_name` and `description`. The hardcoded area is:

https://github.com/lbryio/lbry.io/blob/5cb04332c2179209d0ddbee361c576436319871b/controller/action/MailActions.class.php#L79-L121

[2018-11-19 01:41] alyssaoc commented on #316
@jsigwart Are these still pending with the privacy policy?

[2018-11-19 01:49] alyssaoc commented on #297
@tzarebczan Can we close this?

[2018-11-19 15:45] kauffj commented on #854
@tiger5226

1) Your branch looks good, other than whether it's appropriate to generate these user ids on the web server. Since users may also (eventually) get generated via lbry.tech, open.lbry.io, or other properties, I think it may be better to let internal-apis generate a web visitor id rather than each web property doing it.

2) I'm not sure why you were unable to test. [This line](https://git

[2018-11-19 15:46] kauffj commented on #854
This is a good idea.

[2018-11-26 09:37] cavey65 opened #890 "Dropdown field My LBRY"
I posted several content under different channels.
when seaching for it under my LBRY it would be nice to have them sorted by channel

Perhaps the dropdown field in my LBRY can be changed to add this.

[2018-11-26 09:39] ykris45 commented on #890
@cavey65 please going to lbry-desktop repo. this repo only for LBRY.IO website

[2018-11-26 13:07] #890 closed

[2018-11-28 15:03] finer9 commented on #430
Still waiting on Perkins memo to finish this off

[2018-11-29 21:39] kauffj commented on #241
Assigning to @nikooo777, this is server/ops related. Niko if you don't know anything about this please work with Grin to learn.

[2018-12-05 15:38] nikooo777 opened #896 "Handle github API errors gracefully"
#### Issue Summary

If github API limits are hit or if something doesn't work on their end, our website stops working

#### Steps to Reproduce

1. DDoS github API (gl)
1. break the site cache
3. hammer github API

### Expected result

The API fails but the exception is caught and the website doesn't go down

### Current result

500s everywhere

### Suggested solution

Log the error to slack but co

[2018-12-05 19:11] alyssaoc opened #898 "Create new LBRY.io OG image"
@robvsmith commented on [Mon Aug 06 2018](https://github.com/lbryio/growth/issues/39)

Currently its the logo, we should change this.

It should ideally show the app or something else that would be a value add to the viewer.

One image to be pulled/used by all lbry.io pages.

---

@jsigwart commented on [Wed Aug 15 2018](https://github.com/lbryio/growth/issues/39#issuecomment-413121550)

Brinck su

[2018-12-06 14:49] nikooo777 commented on #241
This issue is easily solved by adding a wildcard certificate (now supported).
For this to be done I should first tackle this issue: https://github.com/lbryio/ansible/issues/7

[2018-12-10 16:16] #871 closed

[2018-12-11 17:15] seanyesmunt commented on #373
Still seeing this issue.

The server seems to startup fine, but when I go to `localhost:8000`, I see a similar error:
[code]

The non-docker setup seems to work fine.

[2018-12-13 16:20] NetOperatorWibby opened #904 "Unify styling"
#### Issue Summary

lbry.io needs to have unified styling, using our components module.

[2018-12-13 19:48] tzarebczan opened #906 "Tag awareness of email management page"
Credit to @nikooo777 for the idea and @kauffj for exposing the UX issue.

Currently, when a user visits the email management page they see a global off option as well as toggles for each type of subscription which may be confusing, especially when coming from targeted emails (their first inclination may be to unsubscribe all if they can't tell which toggle to click).

For those targeted email, we

[2018-12-14 03:04] tiger5226 commented on #906
I think it would be best to just show the switch for the specific tag only. We should probably just call the api when they land on the page to unsubscribe them to make it easier and the popup confirms it with them. Then at the bottom in small print we say, `click here to manage all email settings`. This would then redirect them to the main email management page.

[2018-12-26 15:15] nikooo777 opened #910 "Frontpage GIF is huge"
#### Issue Summary

The frontpage GIF is huge, it's almost 1MB and takes up most of the loading time. This is really bad and I'm willing to be it also affects our ranking score.

#### Steps to Reproduce

1. Open the network tab
2. Load lbry.io
3. https://scrn.storni.info/2018-12-26_10-13-19-533330874.png

#### How to fix it
Remove the GIF or reduce its size considerably.
I played around with a gif

[2018-12-26 15:34] tzarebczan commented on #910
Let's just update it with your smaller one for now. We'll redo these screenshots with the next version.

[2018-12-27 22:07] kauffj commented on #910
I'd rather have a 1-2MB GIF than one that pixelated.

[2018-12-31 20:52] tiger5226 commented on #854
merged and deployed

[2018-12-31 20:52] #854 closed

[2018-12-31 20:52] tiger5226 commented on #855
merged and deployed

[2018-12-31 20:52] #855 closed

[2019-01-02 19:17] kauffj opened #914 "Change sourcing of roadmap to GitHub"
Our 2019 goals are going to be sourced from GitHub, not Asana.

(@tzarebczan FYI)

[2019-01-02 20:49] ykris45 commented on #914
@kauffj can i help to change asana to github for fixing this issues ?.. maybe @tzarebczan can collaborate with me again to opening my 2019 contribution on this ecosystem...

[2019-01-07 20:40] #559 closed

[2019-01-08 23:19] NetOperatorWibby commented on #896
This error is still happening, at least locally. Server-side, the site loads slowly. This is the error I see locally:

[code]

[2019-01-08 23:21] NetOperatorWibby commented on #896
I shouldn't have to wait 10 minutes before being able to continue working.

Additionally, every time I reload the page (barring this issue), I have to wait almost 3 seconds for the page to load. Maybe an architecture change is necessary at some point to fix that, I'm not sure.

[2019-01-09 03:41] tiger5226 opened #918 "Performance Issues"
I was able to get Xdebug compiled and used against the website. 90% + of our web page load times are in the following two methods:

https://github.com/lbryio/lbry.io/blob/fdea49e153129159bfed2bcb4794cb6225240bb8/autoload.php#L23-L48

Here the problematic area is the `OS::GetAll` and the `YAMLLoadString`

https://github.com/lbryio/lbry.io/blob/b6968240822771b3e03d4cdcfc8d44d42bff3a8e/controller/Con

[2019-01-09 17:40] kauffj commented on #918
`Autoload::reload` should not be getting called in production. Unless the APC check is failing, I don't understand how anytime could be spent in the autoloader in production. Similarly, `View::compileCss` should not be happening in production. (Aside from the first execution after a deploy, which is also true for autoloading).

[2019-01-09 17:57] NetOperatorWibby commented on #896
Beamer is working on this apparently. https://github.com/lbryio/lbry.io/issues/918

[2019-01-10 04:04] tiger5226 commented on #918
Thanks for taking a look Jeremy. I did a new profile with is prod turned on in the config but after the first call. And the total time dropped down to 350ms. Closing for now.

[2019-01-10 04:04] #918 closed

[2019-01-15 16:12] NetOperatorWibby commented on #896
@kauffj How can I disable the GitHub calls in development?

[2019-01-15 23:56] kauffj commented on #896
@NetOperatorWibby all GitHub calls go through this function:

https://github.com/lbryio/lbry.io/blob/master/lib/thirdparty/Github.class.php#L80

So you could add a switch there to disable or return `null` temporarily.

[2019-01-16 22:20] tzarebczan opened #923 "Improve email / LBRY account flow for YouTube Sync"
#### Issue Summary

Currently, if a YouTuber goes through the sync process and tries to update their email to one that already exists in our database, they get an error and are told to contact help@lbry.io. With the new email verification changes in place, we should be able to support a scenario where they can merge their accounts automatically using something similar to the call specified in http

[2019-01-16 22:21] tzarebczan commented on #778
This is now possible with lbry.io email verification changes.

[2019-01-21 17:48] Feanor78 opened #928 "Relationship rehab with David Pakman"
Get Pakman back in our corner - catch-up call at 2, start there and work on relationship from that point

[2019-01-21 17:50] Feanor78 opened #929 "Chase down Alex Jones"
Secure meeting with AJ team

[2019-01-21 17:51] Feanor78 opened #930 "Complete Social Media/Content Champion product owner document"
Create shareable google doc outlining the criteria for success in social media/content relationships

[2019-01-21 18:47] tzarebczan opened #931 "Create FAQ for moving data directory (+blobs)"
#### Issue Summary
Create step by step FAQ on how to move your data_directory (takes up lost of space due to blob files). This was requested by a couple of community members.

I think thill will eventually make it into an app side setting, but want to address in the near term.

[2019-01-22 03:18] tzarebczan commented on #914
@ykris45 sorry for not responding earlier and thanks for trying to help. I'm not sure exactly what the plan on sourcing these from GitHub are, need to find out more from @kauffj / @lyoshenka . Do we have a timeline for this and who is implementing it?

[2019-01-22 04:36] tzarebczan opened #933 "Sync & Earn button broken"
#### Issue Summary
When using the bottom portion of the YouTube page, the sync now button doesn't do anything, just takes refreshes and takes you back to the top of the /youtube page.

![image](https://user-images.githubusercontent.com/8120721/51512108-42a5a380-1dd2-11e9-9f4f-b05607666e70.png)

[2019-01-23 02:31] kauffj commented on #914
Will be discussed on upcoming web planning meeting.

I can probably do this somewhat quickly (1-1.5hrs?), but we might want to just wait for the redesign to be done?

[2019-01-24 19:17] alyssaoc opened #935 "New App Image"
Create a new image with the current app to replace the old currently on .io

[2019-01-25 18:38] Wick opened #936 "Small screens: Long news titles overflow"
#### Issue Summary

Long news titles cause either side-scroll or weird zoom on smaller screens.

![mobile-news](https://user-images.githubusercontent.com/4238024/51765627-979a3000-20d8-11e9-9a26-1d6b6822e332.PNG)

#### Steps to Reproduce

1. Visit https://lbry.io/news/nov-dec-update on a device with a small screen/low resolution

Expected behavior:
Smaller font-size or word-break to avoid text ove

[2019-01-28 20:45] kauffj commented on #896
I was going to fix this but I'm unclear on the issue. Both the homepage and `/get` are loading and accessing the GitHub API for me with no config values declared.

[2019-01-28 21:12] NetOperatorWibby commented on #896
@kauffj Reload the page every 2 minutes and you'll see it break.

[2019-01-30 19:13] finer9 commented on #631
Analytics does this too. Last time I looked our popular page loads were
almost 10s which is pretty high

On Wed, Jan 30, 2019, 2:06 PM Thomas Zarebczan <notifications@github.com
wrote:

[2019-01-30 20:15] tzarebczan commented on #631
We are at 67% now, and all the images are showing the correct smaller sizes, going to close: https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Flbry.io%2Fteam

[2019-01-30 20:15] #631 closed

[2019-01-31 13:58] Invariant-Change commented on #631
# PAGE SPEED

Results seem to vary, I got this on first run with Google, then subsequent tests usually got around 62.

![image](https://user-images.githubusercontent.com/29914179/52058531-611a5480-25b3-11e9-9f30-31c1df5eb0f2.png)

## GOING INTO DETAIL

I ran a more detailed test and compiled a report (see PDF) which can be useful for optimising the site to perform better:

**Online summary report:

[2019-02-05 16:16] robvsmith commented on #923
I've been digging through our metabase data as we try to focus on creator partnerships, and have found some potential high value targets who are falling off along this way. Who would need to do this work @kauffj ?

The ideal follow up for a Pending Creator would include a link to, with one click, claim their channel and become confirmed. Maybe that's impossible, but I think we should work back fro

[2019-02-06 23:21] kauffj commented on #923
I think @tzarebczan understands the state of this better than I do.

Tom and/or @tiger5226, would it make sense to just generically support merging accounts (assuming you can authenticate to both)? Would the fix for the YouTube side of this fall out of that solution?

[2019-02-06 23:30] tzarebczan commented on #923
@kauffj the support for merging accounts is already there, given an existing auth token + new email. Once the email is confirmed, the accounts are merged. For YouTube sync, this process is very similar but would be done directly on the /youtube page. I'd like other merging to happen directly on the maintenance page via https://github.com/lbryio/lbry.io/issues/778 (a youtuber could also do it this

[2019-02-07 16:07] kauffj opened #955 "Strip down roadmap logic"
A lot can be removed now that it only shows the future items.

[2019-02-07 16:27] #914 closed

[2019-02-07 21:15] jsigwart opened #956 "Subscribe to mailing list site continuity"
#### Issue Summary

Signing up for mailing list from LBRY.tv is jarring. Likely this will be resolved in lbry.io redesign, but filing anyway.

**This is the home screen for lbry.tv:**
<img width="1302" alt="screen shot 2019-02-07 at 12 05 38 pm" src="https://user-images.githubusercontent.com/1363664/52443298-357afb00-2ada-11e9-93f8-421616ab178a.png">

**After submitting my email address, I get thi

[2019-02-13 19:06] tzarebczan commented on #935
Will get this done for Android and desktop app next week after the releases (more style changes coming).

[2019-02-13 19:42] kauffj opened #958 "Change/add success threshold for YouTube conversion"
Update https://github.com/lbryio/lbry.io/blob/master/view/template/acquisition/youtube_status.php so that the FB and GA success event only fires if the sync was above a certain quality threshold.

[2019-02-14 13:49] nikooo777 opened #961 "Youtube status page needs to support new logic"
The youtube landing page (https://lbry.io/youtube/status/TOKEN) needs to be changed.

A youtuber that first verifies their youtube account with us will need to provide some extra information before they can queue their channel. With the new logic defined in this PR: https://github.com/lbryio/internal-apis/pull/787 the page will need to behave like this:

On landing, call the API for the user/chann

[2019-02-14 16:30] kauffj commented on #961
@NetOperatorWibby is pretty busy with pending lbry.tech changes and wants to get the lbry.io redesign done behind this. Would you or @tiger5226 want to try this? Paul can still handle or advise on UI/style choices.

[2019-02-14 16:31] kauffj commented on #961
(otherwise we're looking at ~2 weeks before starting on this)

[2019-02-14 17:34] nikooo777 commented on #961
I could do some work on this, the bare minimum needed to get it working with the PR, Paul could take it over in a couple of weeks and improve it.

[2019-02-15 15:44] alyssaoc commented on #430
@finer9 Have we gotten the memo to finish this?

[2019-02-16 04:16] kingofmen opened #963 "Allow deleting content from Downloads page"
#### Issue Summary

The app FAQ states that content can be downloaded from the Downloads menu, thus:

but this does not seem to be correct, as shown in the attached screenshot - there is no delete button for the downloads, unless I am missing something. At the very least it is not obvious to me, and I did poke around a bit.

![lbrybug](https://user-images.githubusercontent.com/1146923/52894425-eb3

[2019-02-16 04:20] tzarebczan commented on #963
Hey, thanks for the issue . The correct place to file would be https://GitHub.com/LBRYio/LBRY-desktop

We have a similar issue filed there already, closing this one for now.

Please check out LBRY.tech for a tech overview of you plan to contribute ;)

[2019-02-16 04:20] #963 closed

[2019-02-16 04:21] kingofmen commented on #963
Oh, sorry, my bad. :(

[2019-02-16 04:23] tzarebczan commented on #963
No worries!! https://github.com/lbryio/lbry-desktop/issues/1394

[2019-02-22 16:44] kauffj opened #967 "Better handling of failed markdown/frontmatter parsing"
Improper frontmatter in markdown based posts will break `/news` or other markdown list actions.

Instead, improperly formatted markdown files should simply be skipped.

This can be reproduced by putting unparseable markdown such as `value: foo: bar` in the frontmatter of a blog post.

[2019-02-27 17:50] ITwrx commented on #508
i would like to recommend using a framework like laravel instead of choosing a cms like wordpress. The two options will attract different types of contributors so you might base your decision on what LBRY needs to attract for the website. Although, the draw for designers (as opposed to devs) can still be influenced by what you choose for css, frontend frameworks, etc. if you went the laravel route

[2019-02-28 16:39] alyssaoc commented on #644
@tzarebczan is this still valid?

[2019-02-28 16:45] #727 closed

[2019-02-28 22:38] kauffj opened #971 "Update from analytics.js to gtag.js"
All existing `ga` calls need to be replaced with `gtag` equivalent.

[2019-02-28 22:39] kauffj commented on #971
This is a blocker for new conversion tracking that @finer9 wants to do and should be done ASAP after site redesign is finished.

[2019-03-01 00:35] tzarebczan commented on #644
Nope, this no longer happens.

[2019-03-01 00:35] #644 closed

[2019-03-03 19:53] #955 closed

[2019-03-04 22:22] kauffj opened #974 "Blog comments"
Is there a free/open-source drop-in plugin that could allow commenting on news posts?

[2019-03-04 22:54] jsigwart commented on #974
Company news is not a great place for comments. I feel news should be stand
alone releases, then discussion should happen on a discussion forum.

On Mon, Mar 4, 2019 at 2:22 PM Jeremy Kauffman <notifications@github.com>
wrote:

[2019-03-06 14:51] kauffj opened #975 "Redo /youtube and /youtube/status"
- /youtube needs the second callout/sync action restored
- The status page needs to generally be reworked and be clearer about next steps, particularly when the email is missing

[2019-03-06 23:28] tzarebczan commented on #975
Related? https://github.com/lbryio/lbry.io/issues/933

[2019-03-07 16:15] nikooo777 commented on #975
it sort of is, but thanks for bringing that issue up, I hadn't seen it. So this outlines that the button wasn't working when we removed it last week.

We intend to bring it back. @NetOperatorWibby needs to take the following parameters in mind once a user lands on /status
- If `has_verified_email` is set to false then the user needs to be alerted that they need to verify the email before they can

[2019-03-08 22:56] kauffj opened #978 "FAQ Ask Footer"
A footer on the FAQ page that invites people to email / submit a question.

[2019-03-08 22:57] kauffj commented on #978
@NetOperatorWibby this can just be some basic markup, think you could add it to the redesign? As I'm going through nav, especially when clicking Creator FAQ, I think it would be quite useful.

[2019-03-13 20:29] tzarebczan opened #981 "Allow token resend after email verification failure"
#### Issue Summary
If a user gets multiple verification emails from the same device and tries to click an old one, it will just say "invalid email or verification form".  We can make this error more descriptive (will do now on Master), but can we also give them an option to resend the email again?

[2019-03-18 15:52] lyoshenka opened #983 "Top nav sometimes hides if you try to mouse toward Get LBRY"
![nav](https://user-images.githubusercontent.com/362784/54543559-3ffba080-4974-11e9-9eea-71db18418715.gif)

[2019-03-18 18:54] kauffj commented on #983
@NetOperatorWibby I saw this on @lyoshenka's computer today. I think the triangles must not be wide enough or fat enough at the top.

[2019-03-18 18:56] NetOperatorWibby commented on #983
Good grief. All right

[2019-03-18 22:19] NetOperatorWibby commented on #983
@lyoshenka Do you still have this issue?

[2019-03-19 15:43] tzarebczan opened #985 "Can’t enable disable items on /edit page when clicking directly on checkbox"
Can’t enable disable items on /edit page when clicking directly on checkbox - you need to click on the next to it

[2019-03-19 15:45] tzarebczan opened #986 "Improve /edit page"
The current email preferences edit page could use some sprucing up...I liked the older one looked with 2 columns. If I'm the only one that feels this way, feel free to close.

![image](https://user-images.githubusercontent.com/8120721/54620385-77ce1b00-4a3c-11e9-9a39-7ccc86583d6b.png)

[2019-03-19 18:22] tzarebczan opened #987 "Improve spacing on verify page (and others?)"
Notice the lack of spacing at the bottom of this page. Not sure if it affects other areas also. Disregarding the "go back to the app button" - we've removed that for now.
![image](https://user-images.githubusercontent.com/8120721/54630701-ceddeb00-4a50-11e9-8fd4-aa19253f4232.png)

[2019-03-19 21:55] tzarebczan opened #988 "Scroll bars on menu hover"
When you hover over the menu, you get a horizontal scrollbar at the bottom. On pages like https://lbry.com/contact, you also get a verticle scroll bar

![image](https://user-images.githubusercontent.com/8120721/54644735-79193b00-4a70-11e9-8779-9bad758906f9.png)
.

[2019-03-19 21:59] tzarebczan opened #989 "Hyperlinks only work when when you hover over text on menu"
If you mouse over a menu, the text highlights which seems like you can click it, but can only do so when you directly click the text.  A few users have expressed confusion around this.

![image](https://user-images.githubusercontent.com/8120721/54644782-a1089e80-4a70-11e9-9a14-67fbabb64476.png)

![image](https://user-images.githubusercontent.com/8120721/54644809-ae258d80-4a70-11e9-982b-ef5eb680c8b

[2019-03-19 22:33] #988 closed

[2019-03-19 22:41] tzarebczan commented on #989
Something similar on the nav menu, but this may be by design
![image](https://user-images.githubusercontent.com/8120721/54646781-a36df700-4a76-11e9-9478-87026cf4bf3d.png)

[2019-03-19 22:53] jsigwart opened #990 "Display Issues with Landing pages"
#### Issue Summary

Landing pages have CSS and display issues:

https://lbry.com/CU
https://lbry.com/pi

<img width="1305" alt="Screen Shot 2019-03-19 at 3 45 23 PM" src="https://user-images.githubusercontent.com/1363664/54647259-0bb0de80-4a5f-11e9-8d58-b4a582aa7188.png">
<img width="1401" alt="Screen Shot 2019-03-19 at 2 49 51 PM" src="https://user-images.githubusercontent.com/1363664/54647260-0b

[2019-03-20 00:52] tzarebczan commented on #816
Closing, there's a new contact page on lbry.com

[2019-03-20 00:52] #816 closed

[2019-03-20 02:08] tzarebczan opened #991 "Fix autodeploy"
:)

[2019-03-20 02:46] Invariant-Change commented on #989
The link need to be assigned to the `<drawer-child>` not the string that it currently is `<a href="/team">.`
![image](https://user-images.githubusercontent.com/29914179/54655556-1d9d8a80-4b0e-11e9-849b-25f52a5e768f.png)

[2019-03-20 03:03] Invariant-Change opened #992 "Menu Links Don't Work on Touchscreens"
#### Issue Summary

Top level menu links don't work on touch screens.
When you press them, nothing happens.

![image](https://user-images.githubusercontent.com/29914179/54656224-8980f280-4b10-11e9-96b1-8ad0bffa39a0.png)

[2019-03-20 03:07] tzarebczan commented on #992
Seem to work here on mobile + desktop mode in chrome.

[2019-03-20 04:20] Invariant-Change commented on #992
Mobile is fine as it turns in to the mobile menu. I can only test on the iPad for touch, so can't comment on other touch devices!

[2019-03-20 14:32] jessopb opened #993 "It's not obvious how to navigate to the company physical address"
#### Issue Summary

I tried to go to the website to see the physical address of the company. Contact lacks physical details as well as specific contact points for different purposes.

[2019-03-20 14:47] tzarebczan opened #994 "Fix size of GIF on android page"
Pretty sure this used to be larger...
![Screenshot_20190320-104537](https://user-images.githubusercontent.com/8120721/54693706-70227b00-4afd-11e9-86dc-e33c1980ed4d.jpg)

[2019-03-20 14:49] tzarebczan opened #995 "Fix email input size"
![image](https://user-images.githubusercontent.com/8120721/54693911-cabbd700-4afd-11e9-89d5-2283d4bd59f0.png)

[2019-03-20 16:45] ykris45 opened #997 "HTML Embed Tweet and other was dissapears"
#### Issue Summary
 ## FAQ
![image](https://user-images.githubusercontent.com/26609573/54702783-1f953700-4b6a-11e9-8757-e5a2ef3f0da4.png)
## NEWS
![image](https://user-images.githubusercontent.com/26609573/54703028-a21df680-4b6a-11e9-90e6-f815e9916f38.png)

#### Steps to Reproduce

1. go https://lbry.com
2. move to FAQ section
3. click How do I use the Twitter tipbot? and https://lbry.com/news/hac

[2019-03-20 17:16] NetOperatorWibby commented on #992
I didn't think about tablets, just phone and desktops. Thanks for catching this

[2019-03-20 17:17] NetOperatorWibby commented on #995
What's wrong with the size?

[2019-03-20 17:17] NetOperatorWibby commented on #994
How large does it need to be?

[2019-03-20 17:18] NetOperatorWibby commented on #990
The code to fix this in currently in the repo, the auto-deploy function on the server has an issue and thus the changes are not reflected.

[2019-03-20 17:20] NetOperatorWibby commented on #989
No, that's not going to work @Invariant-Change.

@tzarebczan In order to have "more forgiving" mouse paths, I had to add an additional element that covers un-hovered top-level menu items.

[2019-03-20 17:21] #986 closed

[2019-03-20 17:31] tzarebczan commented on #995
Seems like there should be some max size, but if that's what you expected, please close.

[2019-03-20 17:45] NetOperatorWibby commented on #990
Server has been manually updated.

[2019-03-20 17:45] #990 closed

[2019-03-20 17:50] NetOperatorWibby commented on #997
This was done on purpose to get JS out of Markdown files and to unify blockquote styling.

[2019-03-20 17:50] #997 closed

[2019-03-20 17:51] #995 closed

[2019-03-20 18:46] jsigwart commented on #985
Beamer posted 4 lines of code last night to fix the CSS in Slack... would be really nice if this were fixed soon.

[2019-03-20 20:56] #989 closed

[2019-03-20 20:58] NetOperatorWibby commented on #985
Was I tagged in that message?

[2019-03-20 21:41] #985 closed

[2019-03-20 21:52] NetOperatorWibby commented on #556
This is no longer an issue _locally_. I am able to visit `http://localhost:8000/vit` and `http://localhost:8000/VIT` without issue.

`https://lbry.com/VIT` fails while `https://lbry.com/vit` works just fine.

Seems like a server issue at this point.

[2019-03-20 21:55] #297 closed

[2019-03-20 21:57] NetOperatorWibby commented on #991
Works again

[2019-03-20 21:57] #991 closed

[2019-03-21 05:27] jsigwart opened #998 "Mobile UX issues"
### Issue Summary

Google reporting mobiles errors including:
- touch elements too close
- content wider than the screen

Here is the link Google sent: https://support.google.com/webmasters/answer/9063469

#### Screenshot showing horizontal scrollbar
<img width="401" alt="Screen Shot 2019-03-20 at 9 59 30 PM" src="https://user-images.githubusercontent.com/1363664/54734504-3c773d80-4b5d-11e9-8944-f

[2019-03-21 13:16] lyoshenka commented on #983
Less so, but still happens. Its the worst when going from Delevopers to
LBRY.tech.

On Mon, Mar 18, 2019 at 6:19 PM NetOperatorWibby <notifications@github.com>
wrote:

[2019-03-21 13:45] tzarebczan commented on #994
Something that fills in more of the page? Looks like it's being shrunk right now.

[2019-03-21 14:18] NetOperatorWibby commented on #983
I think I just found a possible way forward, I'll push it today.

[2019-03-21 14:20] NetOperatorWibby commented on #998
Ahhh, I didn't realize my "fix" yesterday removed the links from the mobile menu. Yikes

[2019-03-21 14:21] NetOperatorWibby commented on #998
Code snippets are typically horizontally scrolled on mobile devices.

[2019-03-21 14:36] #998 closed

[2019-03-21 14:55] #987 closed

[2019-03-21 14:56] kauffj commented on #993
@NetOperatorWibby yes, this can go on the contact page.

[2019-03-21 15:04] alyssaoc commented on #935
closing, new gif is good

[2019-03-21 15:04] #935 closed

[2019-03-21 15:17] kauffj commented on #981
@tzarebczan does the endpoint exist for this? Can you update ticket with more specifics if it does or add tickets to internal APIs if it does not?

[2019-03-21 15:24] #725 closed

[2019-03-21 15:28] #444 closed

[2019-03-21 15:32] alyssaoc commented on #221
@tzarebczan is this still an issue?

[2019-03-21 15:33] alyssaoc commented on #221
@NetOperatorWibby said its fixed

[2019-03-21 15:33] #221 closed

[2019-03-21 16:04] tzarebczan commented on #981
Yep, the api is: https://api.lbry.com/user_emai/resend_token, passing both their auth token and email address. Maybe @tiger5226 / @nikooo777 could confirm if we can repass the same email confirmation auth token, or if it has to be the main one.

[2019-03-21 16:31] #993 closed

[2019-03-21 19:15] simon816 opened #999 "Insecure links in lbry emails"
Not sure if this is the best place to raise the issue but don't know where else.

Hyperlinks in emails from LBRY are insecure and there is no HTTPS available.
The links are to the URL:
`http://email.mail.lbry.io`
and more recently:
`http://email.mail.lbry.com/`

Trying to visit `https://` at these domains doesn't connect.

Also, the urls are long meaningless base64 strings - I have no idea where I

[2019-03-21 19:21] kauffj opened #1000 "List styles and nested lists"
lbry.com/what makes fairly substantial use of lists for its content. There are a few places where the list styles are off:

1. When there are multiple paragraphs within a list item, it looks weird (see "Our Values")
1. When there are nested lists, it looks _very_ weird (see "Part B: The Data Network")

[2019-03-21 19:25] kauffj opened #1001 "Paragraphs and header spacing"
lbry.com/what highlights issues with paragraphs and header spacing.

1. If headers are going to have bottom margins, presumably smaller headers should have smaller margins. Right now, `h2` has no margin while `h4` has one. This makes spacing weird.
1. Paragraphs should probably not have a top-margin when following a header or something else should change so that headers are always more closely cou

[2019-03-21 19:26] #556 closed

[2019-03-21 19:27] kauffj commented on #699
Fixed, but discovered some other styling issues.

[2019-03-21 19:27] #699 closed

[2019-03-21 20:05] tzarebczan commented on #999
HEy @simon816 , thanks for submitting the issue, we'll investigate! Can we send you some [LBC as appreciation](https://lbry.com/faq/appreciation) for the report?

[2019-03-21 21:24] kauffj commented on #499
Fixed in 4362f7b6

[2019-03-21 21:25] #499 closed

[2019-03-21 22:18] tzarebczan commented on #999
@simon816 looks like it's related to how our mail servers tracks clicks for analytics. It's just a redirect to one of our HTTPS URLs. We'll check out https://help.mailgun.com/hc/en-us/articles/360011566033-How-to-enable-HTTPS-tracking-links and see if we want to switch.

[2019-03-22 09:21] binaryflesh commented on #999
A quick look at lbry.com's TXT record indicates there is not [SPF](https://en.wikipedia.org/wiki/Sender_Policy_Framework) or [DMARC](https://dmarc.org/overview/) setup:
[code]
to actually be in fully prove an email came from your endpoint, you usually add the SPF or DMARC Record along with the DKIM key of your MTA(Mail transfer agent). This tells the world who can send email on your behalf and a p

[2019-03-22 14:59] NetOperatorWibby commented on #983
Closed via https://github.com/lbryio/lbry.com/commit/f2b9d57f2e2249dfd73ef89678a8166f8be44e26

[2019-03-22 14:59] #983 closed

[2019-03-22 16:17] nikooo777 commented on #981
I am not 100% sure, the problem with confirming an email is that the token you pass is relative to an user so that if you're trying to claim an email for another user, both will be merged.

So I believe that without auth token there isn't much that can be done. Now what you mean by main auth token I'm not 100% sure. Trying wouldn't hurt though?

[2019-03-22 16:29] nikooo777 commented on #999
Hey @binaryflesh while we don't yet have DMARC set up we do have TXT/SPF records in place: https://mxtoolbox.com/SuperTool.aspx?action=txt%3amail.lbry.com&run=toolpage

we send emails from mail.lbry.com, not lbry.com
I will however investigate further as we just changed our email domain from .io to .com so something could have slipped through

[2019-03-22 18:45] kauffj commented on #983
@lyoshenka how about now?

[2019-03-22 18:47] NetOperatorWibby commented on #983
@kauffj I asked him on Slack

[2019-03-23 01:42] tiger5226 commented on #981
An email scoped token does not have authorization to send a verification email. This is what gets sent with the verification email. We could add the email scope for the resend token api. This way if they hit that problem, they can click a button to resend an email with a new token. I would suggest we return a `498 Token Expired` http response if they try to verify with an expired verification toke

[2019-03-23 01:53] tzarebczan commented on #981
Ah, that's why I opened https://github.com/lbryio/internal-apis/issues/593

[2019-03-25 21:28] kauffj commented on #967
attempted fix in 8965500a

[2019-03-25 21:28] #967 closed

[2019-03-25 23:07] tzarebczan commented on #923
From Niko:
[code]

[2019-03-25 23:38] tzarebczan commented on #975
Some suggestions:
- Show spee.ch / open.lbry.com / beta.lbry.tv urls for synced channels
- Hover over with explanations of each status
- Show allowed characters in channel name (this may change with the recent HF to support more characters)
- Show when the reward has been redeemed, and date of next available reward (if we are going with yearly, 1 year from sync or 1 year from redemption?)
- Allow

[2019-04-01 14:47] tzarebczan opened #1015 "fix join-us page/redirect"
join us page is redirecting to main lbry.com. We show it on the team page.
https://github.com/lbryio/lbry.com/blob/22172654c24a50dc39f19b995153a6fb874bbfbf/data/redirect/temporary.yaml

Did it need some work before enabling?

[2019-04-02 18:38] #992 closed

[2019-04-03 22:20] kauffj opened #1020 "fix styling on /join-us"
Issues:

- [ ] The "Hiring Process" section (bullets in table, spacing, table in list)
- [ ] Lack of hero image (maybe take the image and put it in the hero?)

[2019-04-03 22:21] kauffj commented on #1015
Fixed, but there are styling issues https://github.com/lbryio/lbry.com/issues/1020

[2019-04-03 22:21] #1015 closed

[2019-04-04 12:49] alyssaoc commented on #999
@robvsmith is this at all related to the changes you just made?

[2019-04-04 12:53] robvsmith commented on #999
I do not _think_ this has to do with me - though I'm always open to being wrong!

I've been changing links within the email itself that were broken, but nothing to do with where they are sent from.

[2019-04-04 14:04] tzarebczan commented on #999
@robvsmith nope, it's a mailgun thing :)

[2019-04-08 15:07] #933 closed

[2019-04-08 15:07] #975 closed

[2019-04-15 01:49] jsigwart commented on #522
I am getting a 404 on https://lbry.io/privacy-policy and https://lbry.com/privacy-policy

User asked about Privacy Policy and I couldn't refer them to one.

[2019-04-15 01:51] jsigwart commented on #430
Do we have a status on this?

[2019-04-15 14:59] tzarebczan commented on #923
From Slack discussion on next steps:
```Once you get to the status page, you'd have to check the Status field. If it's equal to `pendingemail`, this means their account has a googleplus email, and we want them to verify it before they agree to sync. Otherwise, they don't have to do anything on the status page (they should be agreed, and with the right channel since they chose it on the /youtube pa

[2019-04-15 16:29] NetOperatorWibby commented on #923
While going through the sync process I get:

[code]

This error does not exist on prod so that means Google’s email checker is not authorizing `localhost:8000` to access it.

[2019-04-15 16:54] NetOperatorWibby commented on #565
[This is already live](https://github.com/lbryio/lbry.com/blob/master/view/template/acquisition/youtube_status.php#L10).

<img width="1189" alt="Screen Shot 2019-04-15 at 11 51 51 AM" src="https://user-images.githubusercontent.com/1288356/56150657-f0a98f80-5f74-11e9-9d08-0ea48b168685.png">

Am I missing something?

[2019-04-15 17:18] NetOperatorWibby commented on #971
This has been fixed already!

[2019-04-15 17:18] #971 closed

[2019-04-15 18:38] tzarebczan commented on #565
Does it check the box when they claim id? It didn't used to. Once we know when they'll be able to claim again, we can add that information to the page (can create a new issue for it).

[2019-04-15 18:51] #994 closed

[2019-04-15 18:53] NetOperatorWibby commented on #958
@kauffj What's the quality threshold?

[2019-04-15 18:54] NetOperatorWibby commented on #738
The copy has been updated.

[2019-04-15 18:54] #738 closed

[2019-04-15 18:55] kauffj commented on #958
@finer9 @robvsmith can you guys agree on what subscriber and/or video view count you want this to trigger on and comment on the ticket with the answer?

[2019-04-15 18:56] NetOperatorWibby commented on #904
@nikooo777 This doesn't have to be blocked anymore.

[2019-04-15 18:57] NetOperatorWibby commented on #904
I feel this can be closed, actually.

[2019-04-15 18:57] #904 closed

[2019-04-15 18:58] NetOperatorWibby commented on #565
That screenshot is from one of the status tokens.

[2019-04-15 19:05] NetOperatorWibby commented on #1020
I thought this page was retired. Also, the image on the page is inaccurate...should it really be the hero image?

[2019-04-15 19:07] kauffj commented on #1020
It's not retired, it's just not being emphasized in nav

[2019-04-15 19:21] tzarebczan commented on #898
@Feanor78 / @jsigwart to have the initial lbry.tv OG image functionality, we need this issue resolved first. Then we can work on https://github.com/lbryio/lbry-desktop/issues/2427.

See lbry.tech OG image for an example of the more modern look for an OG image. Maybe we need to bring Paul in to help.

[2019-04-15 19:56] NetOperatorWibby commented on #898
I'm going to create this today

[2019-04-15 20:06] nikooo777 commented on #565
The content is not really in their control though, is it? unless you're referring to status `transferred`

[2019-04-15 20:42] tzarebczan commented on #565
@NetOperatorWibby looked at the code, it looks good for the statuses!

[2019-04-15 20:45] #565 closed

[2019-04-16 14:41] kauffj commented on #898
@NetOperatorWibby

1) 1ede180 did not actually fix change the OG image. You'll need to update this line as well https://github.com/lbryio/lbry.com/blob/master/view/Response.class.php#L64 (no need to PR)
2) Would it make more sense to show a screenshot of the app than of the website?

[2019-04-16 14:45] NetOperatorWibby commented on #898
@kauffj Actually yes, it would make more sense to show the app.

[2019-04-16 15:02] #898 closed

[2019-04-18 21:40] tzarebczan commented on #999
Going to close this - we're tracking it internally with a low priority since getting this setup would require a more expensive cloudflare account, unless mailgun makes it easier to do.

The DMARC issue has been fixed: https://us.dmarcian.com/dmarc-xml/details/6L84fPSpY5ltAnJq/

[2019-04-18 21:40] #999 closed

[2019-04-22 22:30] tzarebczan opened #1023 "Address/suppress timeout logs in slack"
The Slack channel for web errors gets flooded with timeouts like the below. Can we suppress these so they don't pollute the channel?

```Eexception 'CurlException' with message 'Operation timed out after 5001 milliseconds with 0 bytes received' in /home/lbry/lbryio/lib/tools/Curl.class.php:147```

[2019-04-23 01:07] tzarebczan commented on #923
Currently blocked by https://github.com/lbryio/internal-apis/issues/849

@nikooo777 can you confirm this is only for the case where the email already exists in LBRY? If it's a new email, the API should already have it right?

[2019-04-23 17:08] #1000 closed

[2019-04-24 20:37] #1020 closed

[2019-04-24 20:54] NetOperatorWibby commented on #1023
I'd love this. No idea how to do it though.

[2019-04-24 20:55] NetOperatorWibby commented on #896
This doesn't seem to be an issue anymore.

[2019-04-24 20:55] #896 closed

[2019-04-25 15:04] kauffj commented on #316
Who is this blocked by or waiting on?

[2019-04-25 15:04] kauffj commented on #430
This is for @finer9, right?

[2019-04-25 15:10] kauffj commented on #958
@finer9 still need threshold values for this

[2019-04-25 15:11] kauffj commented on #906
@tiger5226 are the tags currently being injected into the unsubscribe URLs?

[2019-04-25 15:13] tzarebczan commented on #906
@kauffj yep, this is a recent subscription email: - https://lbry.com/list/edit/xxxxxxxxxxxxxxxxxx?tag=subscription

[2019-04-25 15:23] finer9 commented on #430
I have been blocked by some money transmitter stuff but am going to just
put out a version we can use in the meantime

On Thu, Apr 25, 2019 at 11:04 AM Jeremy Kauffman <notifications@github.com>
wrote:

[2019-04-25 16:18] jsigwart commented on #316
This one appears to ultimately go back to issues blocked by the Data Retention Policy, see growth #1 68?

[2019-04-25 20:22] nikooo777 commented on #923
The above is correct. I went down the rabbit hole and I found the blocker.

[2019-04-25 22:44] tiger5226 commented on #906
The only one that it is on is the subscription one. I am not aware of others that are passing the tag yet.

[2019-05-02 15:07] kauffj commented on #958
@finer9 I'm closing this, please re-open with values if you want this done.

[2019-05-02 15:07] #958 closed

[2019-05-03 19:06] kauffj opened #1033 "Provide button to open app after verifying email"
For mobile, desktop, and web.

[2019-05-03 19:14] tzarebczan commented on #1033
We need to check what triggered the verification...if it was something like YouTube sync, we don't want to show an open app button.

[2019-05-13 22:44] jsigwart opened #1037 "Update team page to include current staff"
#### Issue Summary

https://lbry.com/team is missing team members and needs to be updated.

[2019-05-15 22:39] vv181 opened #1041 "Remove Cryptopia From Exchanges List"
Remove Cryptopia from https://lbry.com/faq/exchanges since the exchange is insolvent.

Reference:
https://www.cryptopia.co.nz/
https://twitter.com/Cryptopia_NZ/status/1128491715608727553

[2019-05-15 23:16] tzarebczan commented on #1041
Done and thanks!

[2019-05-15 23:16] #1041 closed

[2019-05-25 17:18] voidfire commented on #1023
I believe
a) I can either suppress specifically the timeout exceptions going over to slack.
Or
b) I can increase the default timeout limit on curl requests function (which is currently 5 seconds).
I still don't have a clear idea of the whole codebase so I wouldn't know how increasing the timeout on Curl requests may affect the different moving parts of the codebase.

[2019-05-25 17:31] tzarebczan commented on #1023
hey @voidfire thanks for taking a peek at this. The below are some of the errors we are seeing and on what pages.
@tiger5226  - it happens on https://api.lbry.io/visitor/new  which I think was really slow at some point. Maybe increasing the timeout would help.

[code]

[2019-05-25 19:56] voidfire commented on #956
I suspect the lbry.io redesign has happened the current subscription follow up screen looks like this.

![image](https://user-images.githubusercontent.com/4143062/58374076-d382bc00-7f37-11e9-9a6d-274aad53f0fa.png)

[2019-05-25 20:51] tiger5226 commented on #1023
This call happens multiple times per second. What I think is happening is there is some waiting happening periodically. Most of the time the call only takes 100ms max. There exists a circumstance where it goes beyond the 5 second timeout though. The last time it happened was 1:55pm yesterday. I believe this is caused by some random delay on the internal-apis database. I bet it happens whenever we

[2019-05-30 15:10] kauffj commented on #778
I think this should be done on lbry.tv and all email management that is currently happening on lbry.com should move there as well.

[2019-05-31 03:14] ghbjklhv opened #1049 "[Feature] LibreJS Compatible"
**Feature**: Become [LibreJS](https://www.wikipedia.org/wiki/GNU_LibreJS) Compliant
**Log when running LibreJS on front page**:
[code]

**How?**: https://www.gnu.org/software/librejs/free-your-javascript.html

[2019-05-31 13:19] tzarebczan commented on #1049
Thanks for opening this issue. Our code is already open source and MIT license, so you can see exactly what it's doing.  Any other benefits to this? I'll leave this up to @NetOperatorWibby in case he wants to pursue/close it.

[2019-05-31 14:30] NetOperatorWibby commented on #1049
@ghbjklhv LibreJS sounds like a good project. Unfortunately, we violate step **2.2 Scripts that are not yours and are not free** and that is unlikely to change in the near future.

[2019-05-31 14:30] #1049 closed

[2019-06-07 14:28] #978 closed

[2019-06-07 14:28] #1001 closed

[2019-06-14 15:50] tzarebczan opened #1051 "harden ssl certificates"
Received an email that some ciphers used are weak.

https://www.ssllabs.com/ssltest/analyze.html?d=lbry.com&latest

[code]

[2019-06-14 16:35] kauffj commented on #1051
this would be one for @nikooo777 if it's a real issue

[2019-06-21 23:21] tabbek commented on #101
Link is down again.

[2019-06-21 23:22] tzarebczan commented on #101
Works fine here.

[2019-06-23 20:03] tzarebczan opened #1058 "address facebook / other scripts when visiting"
see https://www.reddit.com/r/lbry/comments/c4aire/why_does_lbrycom_embed_facebook_scripts/

[2019-06-25 21:56] kauffj commented on #1058
I'm not sure what to do about this. As long as we want to run campaigns on these sites, we really need to embed their JS to have them be effective.

I am also sensitive to being tracked on the internet, but people who are sensitive about this can pretty easily install a plugin that blocks it. We're not trying to do anything shady like route around user blocks.

And asking every user about this is

[2019-06-28 16:04] naturallymitchell commented on #639
this issue still exists for me

[2019-07-02 17:27] nikooo777 commented on #1051
Fixed https://www.ssllabs.com/ssltest/analyze.html?d=lbry.com

also we now support TLS 1.3!

[2019-07-02 17:27] #1051 closed

[2019-07-08 14:10] finer9 commented on #522
If we can figure out where this content went, we can use it.... @jsigwart

[2019-07-09 17:50] kauffj opened #1068 "Add facility for scheduling wallet transfer"
We should be able to direct someone to a process that lets them claim their wallet other than email this address.

This could either be part of the YouTube status page or a separate page. It could use calendly or another tool that lets them pick a specific time for the transfer to occur and gives them instructions to follow in advance.

[2019-07-09 19:37] kauffj commented on #1068
@tzarebczan will set up a calendly link with valid standing times that anyone can pick

@NetOperatorWibby will add copy to you the youtube status page inviting people to use this link to book a time

[2019-07-14 18:22] jsigwart commented on #522
@NetOperatorWibby - do you know where we can find this?

[2019-07-14 18:24] tzarebczan commented on #522
I don't recall this going live, hence that faq we were working too. I'll look for it this week too. Could be wrong..

[2019-07-15 01:46] NetOperatorWibby commented on #522
It’s here: https://lbry.com/privacypolicy

[2019-07-15 12:59] tzarebczan commented on #522
Is that linked from anywhere? I don't think it is...so no one can find it.

Where should we put it? Maybe make it a faq so it shows up there or add to footer? Probably need to add it in the apps somewhere too.

It would be supplemented by the other data faq we are still working through.

[2019-07-15 21:52] tzarebczan commented on #522
From the PP: ```According to CalOPPA, we agree to the following:

Users can visit our site anonymously.

Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.```

[2019-07-16 00:17] finer9 commented on #522
I have no doubt there are other mistakes too, but it is a start.

On Mon, Jul 15, 2019 at 5:52 PM Thomas Zarebczan <notifications@github.com>
wrote:

[2019-07-17 16:46] tzarebczan commented on #522
Will create a new issue to get this linked where applicable.

[2019-07-17 16:46] #522 closed

[2019-07-17 16:48] tzarebczan opened #1070 "Add Privacy Policy to site"
Wherever applicable, we should add the lbry.com/privacypolicy to lbry.com and other sites.

[2019-07-22 16:33] NetOperatorWibby commented on #1058
+1 on user doing the blocking. Anyone who hates Facebook/Google/&c are already blocking them. Maybe we could have a message to first-time visitors stating that we collect metrics in order to make site decisions.

[2019-07-22 21:33] #1070 closed

[2019-07-22 21:36] NetOperatorWibby commented on #736
We currently don't have categories for blog posts so this is not yet possible.

[2019-07-23 19:10] kauffj commented on #430
https://lbry.com/termsofservice needs to be updated to whatever it is

[2019-07-23 19:38] kauffj commented on #1068
- @tzarebczan will build google form and redirect lbry.com/claim_wallet to the form
- After, @NetOperatorWibby updates youtube status page to mention form in some way

[2019-07-23 19:51] kauffj commented on #630
@Invariant-Change this looks like it relates to bounties only, can you re-open if you think there are still outstanding issues here?

[2019-07-23 19:51] #630 closed

[2019-07-25 16:48] kauffj commented on #1037
duplicate of https://github.com/lbryio/growth/issues/264

[2019-07-25 16:48] #1037 closed

[2019-07-25 17:00] tzarebczan commented on #1068
Paul should have the link to the form from Slack. We probably need a short copy on the page itself. @Feanor78 can you work on that and the copy to the status page?

[2019-07-25 17:24] NetOperatorWibby opened #1074 "Add "search""
Search functionality is needed. For v1, it can be activated via clicking a search icon that brings up a input field that opens a new tab in a search engine with `queryUserSearchedFor site:lbry.com`.

[2019-07-25 20:45] #1068 closed

[2019-07-26 15:56] tzarebczan opened #1082 "claim wallet page doesn't work on chrome"
```Refused to display 'https://docs.google.com/forms/d/1eBfTdRGN_d2kdUDWn_ddW06CJyvxyBEJAu8w11D6gQc/edit?usp=sharing' in a frame because it set 'X-Frame-Options' to 'sameorigin'.```

[2019-07-26 16:06] #1082 closed

[2019-07-26 17:09] tzarebczan opened #1083 "claim-wallet link changes"
- [ ] Remove from /youtube page

- [ ] add to /youtube/status page, and show only after they have agreed to sync.

[2019-07-30 06:47] catastrop opened #1084 "remove google analytics"
use a self hosted service like fathom or matomo

[2019-07-30 06:48] catastrop opened #1085 "why making request to facebook.net and twitter.com"

[2019-07-30 17:31] #1074 closed

[2019-07-30 19:09] kauffj commented on #430
@finer9 are you working on this?

[2019-07-30 19:43] kauffj commented on #1083
Drop 50k from form copy (@tzarebczan) and website copy (@NetOperatorWibby )

[2019-07-30 19:53] NetOperatorWibby commented on #1083
Closed via https://github.com/lbryio/lbry.com/commit/e90b3dc8153aec1eb23a6872ee9a0d4f56653497. I made changes and then tried to branch from master and messed up.

This is done though.

[2019-07-30 19:53] #1083 closed

[2019-07-30 20:08] finer9 commented on #430
The ToS doc is done, if someone wants to put it on our website.

On Tue, Jul 30, 2019, 3:09 PM Jeremy Kauffman <notifications@github.com>
wrote:

[2019-07-31 22:08] kauffj opened #1089 "Avoid jumping on email tag selection"
The success flash shown when changing tags adjusts the vertical positioning of the tags. This makes it difficult to select multiple items.

[2019-08-04 11:46] catastrop commented on #1084
??

[2019-08-05 17:00] kauffj commented on #1084
I appreciate this concern, but we're not going to do this now or in the near future.

We have no problem with you using and support you using browser plugins or 3rd-party tools that block GA or other 3rd-party services used by us.

[2019-08-05 17:00] #1084 closed

[2019-08-05 18:25] catastrop commented on #1084
sad

[2019-08-06 19:13] kauffj commented on #430
@finer9 can you link this document in Slack to myself and @jsigwart?

[2019-08-06 19:18] kauffj opened #1090 "Pull tag descriptions from internal APIs"
Tag descriptions are currently hardcoded in `MailActions`

[2019-08-07 03:17] catastrop commented on #1084
Bad

[2019-08-07 03:18] catastrop commented on #1084
not using your service

[2019-08-07 03:18] catastrop commented on #1085
?????

[2019-08-07 03:19] catastrop commented on #1085
Don't you concern user's privacy

[2019-08-07 03:20] catastrop commented on #1085
@kauffj ???

[2019-08-07 06:21] tzarebczan commented on #1085
Please see issue / discussion in https://github.com/lbryio/lbry.com/issues/1058

[2019-08-07 06:21] #1085 closed

[2019-08-07 17:57] kauffj opened #1091 "Improve email list subscription behavior"
Subscriptions available via: https://lbry.com/list/subscribe

1. After subscribing, redirect user to the email list edit page rather than `/list/subscribed`
1. Consider updating the "confirm your email" email template

[2019-08-07 19:01] jsigwart commented on #430
Is it still this document or did it move elsewhere? https://docs.google.com/document/d/1wbTRhojo05kZkXpjxCCJEmtyJvxEjbAFfINTWS1foXU/edit#heading=h.gjdgxs

[2019-08-07 19:55] finer9 commented on #430
Yes that is it

On Wed, Aug 7, 2019 at 3:01 PM Julie Sigwart <notifications@github.com>
wrote:

[2019-08-08 17:20] kauffj commented on #1090
Use `/tag/list`

[2019-08-08 20:02] #1089 closed

[2019-08-12 22:21] kauffj commented on #1090
@nikooo777 it looks like `/tag/list` is a restricted endpoint and lbry.com does not currently store any authentication credentials for api.lbry.com.

Is it okay to add an auth_token for lbry.com to `config.php`? If so, who's should be added on production, yours? Maybe make a lbry.com account?

[2019-08-13 18:47] Feanor78 commented on #316
@jsigwart @kauffj what's the story with this ticket?

[2019-08-13 18:53] kauffj opened #1092 "Link Android build artifacts directly on lbry.com/android"
http://lbry.com/releases/lbry-android.apk

[2019-08-13 19:23] kauffj commented on #430
@kauffj to review/edit google doc

[2019-08-13 20:04] #1058 closed

[2019-08-15 16:40] NetOperatorWibby commented on #1092
Closed via https://github.com/lbryio/lbry.com/commit/5e07d5bfa6a34354a8a4b6102cff2945eba83e8b

[2019-08-15 16:40] #1092 closed

[2019-08-15 17:22] kauffj commented on #1090
@nikooo777 any thoughts on above?

[2019-08-20 00:59] danger89 opened #1093 "Block reward source code non-existing link"
#### Issue Summary

Link is not working on the FAQ page.

#### Steps to Reproduce

1. Go to: https://github.com/lbryio/lbry.com/blob/master/content/faq/block-rewards.md
2. Try to click on: https://github.com/lbryio/lbrycrd/blob/master/src/main.cpp

Properly you want to point to:

- https://github.com/lbryio/lbrycrd/blob/master/src/validation.cpp#L2061
And/Or
- https://github.com/lbryio/lbrycrd/blo

[2019-08-20 17:31] kauffj commented on #430
I read this and left the comments I have.

[2019-08-20 19:10] kauffj commented on #1090
@nikooo777 I am putting my personal auth token in `config.php` and ansible config unless you stop me.

[2019-08-20 19:28] kauffj commented on #685
@NetOperatorWibby add metadata in above URL to this file: https://github.com/lbryio/lbry.com/blob/master/view/template/layout/basic.php

If you need to know anything about play store values @akinwale can tell you

[2019-08-20 21:24] kauffj commented on #1093
Thank you for raising this @danger89. The FAQ article has been updated (may take a few min to go live) and the correct link is https://github.com/lbryio/lbrycrd/blob/master/src/validation.cpp#L1025

[2019-08-20 21:35] danger89 commented on #1093
Almost correct.. ><

[2019-08-20 21:37] #1093 closed

[2019-08-21 14:09] tzarebczan commented on #1093
Thanks again @danger89, will send some LBC appreciation over on Discord

[2019-08-22 16:05] kauffj opened #1096 "Fix CSS bugs introduced by changes to notice styling"
https://github.com/lbryio/lbry.com/commit/74c083b0c341bc76d73cc1ecad361b32469232da added ` position: absolute` to all `.notice` elements.

In addition to being a crude solution, this breaks notices on other pages.

[2019-08-22 16:59] kauffj commented on #1090
Addressed in https://github.com/lbryio/lbry.com/pull/1097 but blocked by https://github.com/lbryio/internal-apis/issues/962

[2019-08-22 17:21] kauffj opened #1098 "Unify Open Graph images of app(s)"
Is it `og-image.png` or `lbry-ui.png`? Both are being used. Also make sure growth document with release procedures cover this step.

[2019-08-22 17:22] kauffj commented on #1098
If dropping usage of `lbry-ui.png`, please delete from repo and 301 to the open graph image.

[2019-08-22 17:30] kauffj commented on #887
duplicate of #1090

[2019-08-22 17:30] #887 closed

[2019-08-22 17:31] #369 closed

[2019-08-22 17:32] kauffj commented on #430
Add link to website footer before marking this complete

[2019-08-22 21:05] NetOperatorWibby commented on #685
I don't understand why this isn't working. All the necessary tags we need are there. I found this but I don't know if we have a business account: https://business.twitter.com/en/help/campaign-setup/create-an-app-installs-or-app-engagement-campaign/setting-up-app-cards.html

[2019-08-23 19:01] tzarebczan commented on #685
On the Twitter Android app, I see the Android app card instead of the FAQ I linked https://twitter.com/TomZarebczan/status/1164973301405573121?s=09

[2019-08-23 19:52] kauffj commented on #685
How do we set the image so that it is an image of the app?

[2019-08-23 19:55] NetOperatorWibby commented on #685
We have six og images on that page for some reason. What image needs to be *the* one?

[2019-08-27 15:01] tzarebczan opened #1100 "Increase size of homepage/get mp4"
This is what I see on Chrome desktop - very pixelated. Similar on the /get page
![image](https://user-images.githubusercontent.com/8120721/63781963-a1775200-c8b8-11e9-9364-b0067fd4a28c.png)

[2019-08-28 14:49] #1100 closed

[2019-08-29 15:28] jsigwart commented on #316
# Privacy Policy Stuff

Adding notes to this ticket for clarity on small swarm of circular tickets/issues:

## Issues
Create lbry-privacy.md #932 https://github.com/lbryio/lbry.com/pull/932 - CLOSED, not merged - was first stab at Privacy FAQ
Privacy FAQ #168 https://github.com/lbryio/growth/issues/168 - OPEN
Data Retention Policy https://github.com/lbryio/lbry.com/issues/316 - OPEN

## Current re

[2019-08-29 20:55] jsigwart commented on #430
DONE!! https://lbry.com/termsofservice

[2019-08-29 20:55] #430 closed

[2019-09-01 20:24] matj1 opened #1107 "In the word library, y is a vowel"
In [an answer in FAQ about the name of LBRY](https://github.com/lbryio/lbry.com/blob/master/content/faq/lbry-name.md), there is

If Y in the word LBRY stands for y in the word library, it's a vowel, because in “library” it's pronouced /ɪ/ which serves as a syllable core. Even if “LBRY” is pronounced as one syllable, the phoneme represented by Y server as a syllable core.

I suggest the question wo

[2019-09-03 15:32] jsigwart opened #1108 "Update contact on youtube sync page"
#### Issue Summary

https://lbry.com/youtube needs updating as Rob is still on the page as the contact

[2019-09-03 16:50] tzarebczan commented on #1108
Fixed in https://github.com/lbryio/lbry.com/commit/7adcd311bfeb52f5b20d6e0a65a9c1b1c022078f

[2019-09-03 16:51] tzarebczan commented on #1107
Hey @matj1, thanks for opening this issue and the suggestion. We'll review and take a look.

Can we show you some [appreciation](https://lbry.com/faq/appreciation)?

[2019-09-03 17:06] kauffj commented on #1107
I love this ticket

Fixed in https://github.com/lbryio/lbry.com/commit/d48aad8426293586363bf8382ccab3050535a6ec

[2019-09-03 17:06] #1107 closed

[2019-09-03 17:08] #736 closed

[2019-09-03 17:39] #1096 closed

[2019-09-04 18:19] tzarebczan commented on #1033
The requested from platform is now included in the verification response: https://github.com/lbryio/internal-apis/pull/973

This should work on Desktop, but Mobile still needs a tweak: https://github.com/lbryio/lbry-android/issues/665 - so we can enable now for desktop, and add mobile later.

The button should say something like "Go back to the App" if the platform response matches the current pla

[2019-09-04 21:15] tzarebczan opened #1109 "Display bug when verifying email subscription"
![image](https://user-images.githubusercontent.com/8120721/64292064-83a09180-cf37-11e9-9792-cb16d7f6c728.png)

to repro, add a new email like tom+testdev94@lbry.com on lbry.tech, and then follow confirmation email.

[2019-09-04 21:21] tzarebczan opened #1110 "No OG image on Twitter"
See this thread: https://twitter.com/TomZarebczan/status/1169359128894070784

Missing images for FAQ artcles and /get link.

/Android shows the below - I was still expecting the main og image if not on Android.
![image](https://user-images.githubusercontent.com/8120721/64292378-4557a200-cf38-11e9-90ce-c290ea8921c3.png)

[2019-09-05 08:46] matj1 commented on #1107
I expected a discussion about what's the best wording of that sentence, but never mind.

[2019-09-06 14:20] jsigwart commented on #1110
It looks like we're missing some tags?

https://cards-dev.twitter.com/validator
https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup

<img width="1022" alt="Screen Shot 2019-09-05 at 9 53 05 PM" src="https://user-images.githubusercontent.com/1363664/64435044-9ff71800-d076-11e9-983d-6f5b5fef06a2.png">

[2019-09-06 16:10] NetOperatorWibby commented on #1110
Those tags have nothing to do with the image.

[2019-09-06 16:27] NetOperatorWibby commented on #1110
I think this may be some sort of issue (caching?) with Twitter. Here's what I see when I text myself:

<img width="248" alt="SS 2019-09-06 at 11 25 48 AM" src="https://user-images.githubusercontent.com/1288356/64444141-160c7680-d099-11e9-9699-62158287e833.png">

Our site also has `og:image` fields populated so idk what I could do from here.

[2019-09-06 17:19] jsigwart commented on #1110
Whoops, last comment I used beta.lbry.tv instead of lbry.com. I'm getting the same thing Tom is when I check the validators:

<img width="1027" alt="Screen Shot 2019-09-06 at 10 13 17 AM" src="https://user-images.githubusercontent.com/1363664/64446992-24559500-d08f-11e9-93d1-168bb82a15bc.png">

Facebook looks like it is grabbing the screenshot image, but we're missing the og:url tag:

<img width="

[2019-09-12 22:05] nikooo777 opened #1118 "update supported types"
The list of supported types changed with the new player, i believe the list is out of date and could use a review: https://lbry.com/faq/how-to-publish

[2019-09-16 11:04] nikooo777 commented on #1090
If this issue taught me anything it's that my email filters suck. I'll try to improve them to avoid this happening again.

On the other hand, the PR in internal-apis was merged (and I even reviewed it) so that https://github.com/lbryio/lbry.com/pull/1097 can proceed.